.calendricalDatePopup {
  background: white none repeat scroll 0 0;
    border: 1px solid #999999;
    margin: 15px;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 88%;
    z-index: 9; }
  .calendricalDatePopup table {
    border-collapse: collapse;
    width: 100%; }
    .calendricalDatePopup table .monthCell {
      padding: 2px 0; }
      .calendricalDatePopup table .monthCell a {
        display: block;
        float: left;
        line-height: 20px; }
      .calendricalDatePopup table .monthCell .prevMonth, .calendricalDatePopup table .monthCell .nextMonth {
        width: 24px; }
      .calendricalDatePopup table .monthCell .monthName {
        width: 110px; }
    .calendricalDatePopup table a {
      text-decoration: none; }
    .calendricalDatePopup table th {
      text-align: center; }
    .calendricalDatePopup table td {
      text-align: center;
      font-size: 12px;
      padding: 0; }
      .calendricalDatePopup table td a {
        display: block;
        color: black;
        padding: 2px 3px; }
        .calendricalDatePopup table td a:hover {
          background: #ccccff;
          border: none;
          padding: 2px 3px; }
      .calendricalDatePopup table td.today a {
        background: #eeeebb; }
      .calendricalDatePopup table td.selected a {
        background: #ccccff; }
      .calendricalDatePopup table td.today_selected a {
        background: #eeeebb;
        border: solid 1px #dddd66;
        padding: 1px 2px; }
      .calendricalDatePopup table td.nonMonth a {
        color: #999999; }

.calendricalTimePopup {
  background: white;
  border: solid 1px #999999;
  width: 110px;
  height: 130px;
  overflow: auto; }
  .calendricalTimePopup ul {
    margin: 0;
    padding: 0; }
    .calendricalTimePopup ul li {
      list-style: none;
      margin: 0; }
      .calendricalTimePopup ul li a, .calendricalTimePopup ul li a:visited {
        text-indent: 10px;
        padding: 4px;
        display: block;
        color: black;
        text-decoration: none; }
      .calendricalTimePopup ul li a:hover, .calendricalTimePopup ul li.selected a {
        background: #ccccff; }

.calendricalEndTimePopup {
  width: 160px; }
