@media (max-width:1280px){
.testimonail .testimony {
    margin-left: -70px;
    margin-top: 120px;
}
.carousel-caption{
bottom:25% !important;
left:15%;
right:46%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
left:15%;
width:40px;
height:40px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
right:15%;
width:40px;
height:40px;
}
.department .nav > li {
    margin: 0px 35px;
}
.department .tab-content .col-md-4 .col-md-12 {
    padding: 0 0 0 30px;
}
.department .tab-content p {
font-size:12px;
}
.department .tab-content .btn{
margin:0 4px;
}
.department .tab-content .col-md-4 h3{
margin-top:5px;
}
.department .tab-content .col-md-4 .icon {
    font-size: 24px;
    padding: 4px;
}
.department .tab-content .col-md-6 .line {
    top: 5px;
}
.doctors .button {
    margin: 0 10px;
}
.who .about-pic {
    top: 163px;
}
.news .span12 p{
font-size:14px;
}
.news button {
    margin: -10px 0;
}
.medical .col-xs-8 {
padding:0;
}
.medical .col-xs-8 h4 {
    padding-top: 10px;
}
.medical .icons{
margin:0;
}
.news .category {
    font-size: 14px;
}
.appoinment {
  height: auto;
  margin: 5% 0;
}
.abt-appoinment .appoinment h2 {
  padding: 0 10px;
}
}
@media (max-width:992px){
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
left:15%;
width:40px;
height:40px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
right:15%;
width:40px;
height:40px;
}
.testimonail .testimony{
margin-left: -56px;
margin-top: 90px;
}
.testimonail .testimony blockquote{ 
font-size: 16px;
    padding: 5px 30px;
}
.gallerys .ln2{
    width: 220px;
}
.gallerys .ln3{
    width: 160px;
}
.ln2
{
    width: 230px;
}
.ln3
{
    width: 170px;
}
.who .about-pic .img-thumbnail{
position:relative;
}
.carousel-caption{
bottom:15% !important;
}
.department .nav > li {
    margin: 0 15px;
}
.department .tab-content .col-md-4 .col-md-12 {
    padding: 0 0 0 10px;
}
.medical .icons {
    margin: 0;
    transition: all 0.6s ease 0s;
}
.medical .icons .icon {
    padding: 10px;
}
.medical .col-xs-8 h4 {
    padding-top: 0px;
}
.navbar-brand img {
    max-width: 80%;
}
.navbar-brand {
    height: auto;
    padding: 5px 0;
}
.navbar-right {
margin-top:0px;
    margin-bottom: 15px;
	margin-left: 0;
}
 .department .nav-tabs .active::after {
    top: 110%;
}
}
@media (max-width:768px){
  .comment .col-xs-2 {
    left: -30px;
    padding: 15px; 
    top: -20px;
}
  .top .timing {
    float:none;
}
.top {
    text-align: center;
}
.navbar-brand{
    margin-top:0 !important;
}
.navbar-brand img {
  height: auto !important;
  width: 200px !important;
  margin-top: -10px;
}
.navbar-right {
    margin-top: 20px !important;
}
.sticky {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
left:15%;
width:40px;
height:40px;
}
.navbar-collapse .navbar-nav li a:hover::before, .navbar-collapse .navbar-nav li a:focus::before,
 .navbar-collapse .navbar-nav > .active > a::before, .navbar-collapse  .navbar-nav > .active > a:hover::before{
   content:"";
} 
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
right:15%;
width:40px;
height:40px;
}
.slider .carousel-caption p {
display:none;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 15px !important;
}
.department .nav-tabs .active::after {
 border-style: solid;
    border-width: 0 13px 20px;
    top: 102%;
    content: "";
    height: 0;
    position: absolute;
    right: 41%;
    width: 0;
}
.department .nav-tabs{
margin-bottom:40px;
}
.blogs{
padding:0px;
}
.rightside{
padding:0px;
}
.testimonail .testimony{
margin-left: -56px;
margin-top: 90px;
}
.testimonail .swiper-container-horizontal > .swiper-pagination{
display:none;
}
.ln2{
    width: 180px;
}
.ln3{
    width: 125px;
}
.sidebar{
margin-top:40px;
}
.rightside .pagination a{
    font-size: 16px;
    margin: 1px ;
	}
	.who .about-pic .img-thumbnail{
position:relative;
}
.who .about-pic .img-thumbnail{
position:relative;
}
.who .about-pic {
    top: 77px;
}
.carousel-caption {
    bottom: 15%;
}
 .department .nav > li {
  margin: 0 7px !important;
}
  .about-doctors .about-doc-details .ln2 {
    margin-top: 10px;
    }
.emergency .ln{
 width:200px;
 border:1px solid #fff;
left:35%;
margin-top:15px;
position:absolute;
 z-index:1;
 }
  .contact .pic .img-thumbnail{
    position: relative;
}.gallerys .ln2{
    width: 190px;
}
.gallerys .ln3{
    width: 140px;
}
.department .tab-content .col-md-4 .col-md-12 {
    padding: 0 0 0 10px;
}
.feedback .form-group {
    width: 100%;
}
.about-doctors .button-group .button {
    padding: 0;
	font-size:16px;
}
.about-doctors .button-group .button .icon {
    font-size: 24px;
    margin-left: 1%;
    margin-top: 40px;
    width: 40px;
}
.client .client-say  .desc{
	margin-top:10px;
	margin-bottom:10px;
}
.about_doctors .docs {
    margin-right: 5%;
    margin-top: 60px;
    width: 45%;
}
.events .up-event .health-event {
   margin-left: 5%;
    margin-right: 2%;
    margin-top: 10%;
    width: 42%;
}
.about-appoinment .mobile {
    left: 12%;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 48%;
}
.medical .icons {
    margin: 0;
    transition: all 0.6s ease 0s;
}
.medical .icons .icon {
    padding: 10px;
}
.doctors .button {
    margin: 5px 0;
}
.news .owl-item .item{
margin:0 20px;
}
.news .owl-carousel .owl-next {
     right: 2px;
 }
 .news .owl-carousel .owl-prev {
     left: 2px;
 }
.medical .col-xs-8 {
    padding: 0 7px;
}
.medical .icons .icon {
    border: 5px solid #fff;
    color: #fff;
}
.medical .icons .icon:hover{
border:5px solid rgba(0,0, 0 , 0.5);
}
.medical .icons:hover{
	 transform:scale(1.1);
}
.navbar-right .dropdown-menu{
  border-radius: 0;
  margin-top: 0 !important;
  padding: 0;
  position: absolute;
  width: 100%;
  text-align:left;
  box-shadow:none !important;
  border:0px;
}
.nav > li {
margin:0px;
padding-left:0px;
}
.nav > li a{
padding:10px !important;
}
.navbar-collapse .navbar-right li  a:hover::before, .navbar-collapse .navbar-right li a:focus::before,
.navbar-collapse .navbar-right > .active > a:focus::before, .navbar-collapse  .navbar-right > .active > a:hover::before{
   content:"";
    height: 0;
    position: absolute;
    left: 20%;
    width: 0;
	font-size:60px;
} 
.dropdown .dropdown-menu::before {
    border-style: solid;
    border-width: 0 15px 23px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 40%;
    width: 0;
}
.dropdown .dropdown-menu::after {
    border-style: solid;
    border-width: 0 13px 20px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 41%;
    width: 0;
}
.menu .fa-plus{
float:right;
margin-left: 5px;
}
.navbar-right .dropdown-menu {
    text-align: center !important;
    opacity: 0.9;
}
.text {
    font-size: 18px;
}
.text .link {
    border-radius: 30px;
    font-size: 14px;
    float: right;
}
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin:5px;
    }
.container {
    padding: 0 !important;
}
}
@media (min-width:480px)and (max-width:767px){
.top .header-social,
.top .header-info,
.top .header-timing{
	padding:0;
	text-align:center;
	margin:5px 0;
}
.department .nav > li {
    margin: 0 6% !important;
	}

.department .nav-tabs .active::after {
  display:none;
}
.dropdown .dropdown-menu::after,
.dropdown .dropdown-menu::before{
display:none;
}
.navbar-right .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
    text-align: left !important;
    opacity: 0.9;
	position:relative !important;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0px !important;
}
.gallerys .hrt {
    margin-top: -10px;
}
.department .tab-content .btn {
    margin: 10px 4px;
}
.navbar-nav li,
.navbar-nav .dropdown-menu li{
border-bottom:1px solid #e6e6e6;;
}
.footer-bottom .right-align {
  float: left;
}
}
@media (max-width:480px){
.navbar-header{
    margin:0 !important;;
}
.department h1, .space h1 {
    font-size: 42px !important;
    text-align: center;
    padding-bottom: 20px;
}
.experience .exp1 .time {
    border-bottom: 1px solid #fff;
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0px !important;
	margin-left:10px;
}
.navbar-right .dropdown-menu {
	text-align:left !important;
}
.navbar-nav > li ,
.navbar-nav  .dropdown-menu li{
border-bottom:1px solid #e6e6e6;
}
.department .tab-content .btn {
    margin: 10px 2px;
}
.department .nav-tabs .active::after{
display:none;
}
.navbar-right .dropdown-menu{
  border-radius: 0;
  left: 0 !important;
  margin-top: 0 !important;
  padding: 0;
  position: relative;
  width: 100%;
  text-align:left;
}
.dropdown .dropdown-menu::before{
    border-style: none;
	display:none;
}
.navbar-right .dropdown-menu {
 text-align:left;
 }
.dropdown .dropdown-menu::after{
   border-style: none;
	display:none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
left:30% !important;
width:30px !important;
height:30px !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
right:30% !important;
width:30px !important;
height:30px !important;
}
.slider .carousel-caption,
.slider .carousel-indicators {
display:none;
}
.gallerys .ln2
{
     width: 180px;
	}
.gallerys .ln3
{
    width: 140px;
  }
.ln2
{
    width: 170px;
}
.ln3
{
    width: 120px;
}
.department .tab-content .col-md-4 .col-md-12 {
    padding: 0 0 0 10px;
}
.news .owl-theme .owl-controls .owl-buttons div{
top:32%;
font-size:24px;
padding:0 10px;
}
.news .owl-carousel .owl-prev, 
.news .owl-carousel .owl-next{
width:25px;
height:25px;
}
.news .owl-carousel .owl-prev span, 
.news .owl-carousel .owl-next span{
margin-top:0px;
position:absolute;
margin-left:-5px;
}
.news .owl-carousel .owl-prev{
left:0px;
}
.news .owl-carousel .owl-next{
right:0px;
}
.rightside .pager li > a, .pager li > span {
   padding:5px;
}
.comment .col-xs-2 {
    border-radius: 50%;
    left: -20px;
    padding: 0;
    position: relative;
}
.rightside .feedback{
padding:0px;
}
.who .about-pic .img-thumbnail{
position:relative;
}
.who .about-pic{
top:60px;
}
.about-pic .col-md-7{
padding:0px
}
.department .nav > li {
    margin: 0 7% !important;
}
.emergency .ln{
 width:200px;
 border:1px solid #fff;
left:20%;
margin-top:15px;
position:absolute;
 z-index:1;
 }
 .contact .pic .img-thumbnail{
    position: relative;
}
.about_doctors .docs {
    margin-top: 60px;
    width: 100%;
}
.events .up-event .health-event {
  margin-left: 10%;
    margin-right: 0;
    margin-top: 10%;
    width: 90%;
}
.about-doctors .button-group .button {
	padding: 0;
    text-align: left;
    width: 100%;
}
.about-doctors .button-group .button .icon {
    font-size: 24px;
    margin-right: 30px;
    margin-top: 5px;
    width: 40px;
	float:right;
}
.about-doctors .button-group .button::after {
    content: "+";
    float: right;
    font-size: 30px;
    margin-right: -70px;
    position: relative;
}
.about-doctors .button-group .button.is-checked::after {
    content: "-";
      float: right;
    font-size: 30px;
    margin-right: -70px;
    position: relative;
}
.abt-appoinment .appoinment h2 {
     padding: 0;
}
.about-doctors .doctors-detail .caption {
    padding: 30px 15px 50px;
}
.about-appoinment .mobile {
   left: 18%;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 61%;
}
.footer-bottom .right-align {
  float: none;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 15px !important;
}
.top .header-social,
.top .header-info,
.top .header-info2{
	padding:0;
	text-align:center;
	margin:5px 0;
}
.footer-bottom{
 text-align:center;
 }
}