body{
	direction: rtl;
  unicode-bidi: embed;
}
.header-info {
  float: right;
}
.header-timing {
  float: right;
}
.header-social {
  float: right;
}
/* Menu Start */
.navbar-header {
  float: right;
}.navbar-nav > li {  float: right !important;}
.navbar-right {
  float: left !important;
}
.navbar-right {
  margin-right: 0 !important;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-right:0 !important;
  margin-left:auto !important;
}
.navbar-collapse .navbar-nav li a:hover::before, .navbar-collapse .navbar-nav li a:focus::before,
 .navbar-collapse .navbar-nav > .active > a::before, .navbar-collapse  .navbar-nav > .active > a:hover::before{
    right:0;
	left:auto;
} 
.dropdown-menu .fa-plus {
  float: left;
  left: 20px;
  right: auto;
}
.nav > li > a{
padding:10px 0 10px 15px !important;
}
.navbar-right .dropdown-menu{
left:-60px !important;
right:-60px !important;
}
.dropdown .dropdown-menu::before {
    left: 40%;
    right: auto;
}
.dropdown .dropdown-menu::after{
  left: 41%;
    right: auto;
}
.dropdown .dropdown-submenu .dropdown-menu::after{
   left: 41%;
right: auto;
}

.dropdown .dropdown-submenu  .dropdown-menu::before {
   left: 40%;
    right: auto;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{
	right:100% !important;
	left:auto !important;
	margin-right:-1px; 
	margin-left:-130px;
	}
.dropdown-submenu>a:after{
	float:left;
	margin-right:0px; 
	margin-left:auto; 
	}
.dropdown-submenu.pull-left>.dropdown-menu{
	right:-100%;
	left:auto;
	margin-right:10px;
	margin-left:auto;
	-webkit-border-radius:6px 6px 6px 0;
	-moz-border-radius:6px 6px 6px 0;
	border-radius:6px 6px 6px 0;
	}
/* Menu End */

/* Slider Start*/
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
right:75% !important;
left:auto !important;
}
 .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
left:75% !important;
right:auto !important;
}
.slider-caption {
  border-right: 5px solid #0098ff;
  border-left: 0px solid transparent;
}

.carousel-caption{
left:0 !important;
right:10% !important;
float:right !important;
}
.carousel-caption .icon{
right:22%;
left:auto;
}
.carousel-caption h1{
float:right;
padding-right:25px;
padding-left:auto;
text-align:right;
}
.carousel-caption p{
 float: right;
    padding-left: 20px;
    padding-right: 20px;
}
.carousel-caption .btn{
float:right;
right:0px;
left:auto;
}
.slider .ln{
    right: 6%;
    left: 25%;
}
.slider .ln1{
 right: 12%;
 left: 30%;
}
.callout-text {
  float: right;
}
.callout-btn {
  float: right;
}
.callout-btn .link {
  float: left;
}
/* Slider End*/
/* Call Out  */.hc_callout-text {  float: right;}.text .link{float:left;}/* Call Out  */
/* Services Start */
.heart {
right: 50%;
left: auto;
  margin-right: -20px;
  margin-left: auto;
}
.text .link span{
    margin-right:10px;
    margin-left:auto;
}
/* Services End */

/* Testimonail Start */
.pics{
margin-right:30px;
margin-left:auto;
 float: right;
}
.testimony{
   margin-right: -105px;
   margin-left: auto;
    float: right;
	}
.testimony blockquote{
	padding: 15px 70px 15px 0;
    border-right: 0px;
	}
.testimony .name{
    float: left;
    left: 10px;
    right: auto;
	}
.testimony .pos{
     float: left;
    left: 10px;
    right: auto;
}
/* Testimonail Start */
	
/* News  Start */
.news  .owl-carousel  .owl-next{
  float:left;
   left:15px !important;
   right:auto !important;
    transform: rotate(180deg);
  }
.news  .owl-carousel  .owl-prev{
  float:right;
  right:15px !important;
  left:auto !important;
   transform: rotate(180deg);
  }
/* News End */
/* Gallery Start */
 .gallerys .overlay .ln {
  right: 25%;
  left: auto;
}
.gallerys .hrt {
  right: 0;
  left: auto;
}
#single-gallery  .owl-prev {
  float: right;
  right: -5px !important;
  left: auto !important;
}

#single-gallery .owl-next{
  float: left;
  left: -5px !important;
  right: auto !important;
}
/* Gallery End */ 

/* Fun Facts start */
.facts .text-center .icon{
    right: 40%;
    left: auto;
}
/* Fun facts end */

/* Appoinmeny Start */
.appoinment .form-control {
float:right;
}

/* Appoinmeny End */

/* Footer Start */
.footer-text {
  float: right;
}.footer-copy {  float: right;}
.footer-social {
  float: left;
}
.footer .widget-footer .footer-text .post-text{
padding:0px 5px 0px 0px;
}

.widget-footer .ln{
margin-right: 10px;
margin-left: auto;
}
.widget-footer .hrt{
right: 55px;
left: auto;
}
 .footer-bottom .right-align{
 float:left;
 }
/* Footer End */

/* sidebar start */
.widget-footer #searchsubmit, .sidebar-widget #searchsubmit {border:1px solid #ccc;border-right:0px solid #ccc;}
.form-control{
  padding-right:30px !important;
  padding-left:auto !important;
  }

.sidebar-widget .col-xs-12 .col-xs-9{
padding:0px 10px 0px 0px;
}
.sidebar-widget .pics .overlay a{
    right: 5%;
    left: auto;
 }.comment_avatar {  float: right;}
.sidebar-widget .nav .divider {
margin: 0 10px 0 0 ;
}.col-xs-push-1 {  right: 2%;}.comment .comment-reply-link {  float: left;  left: 30px;  right:auto;}
.recent .tab-content ul{
padding-right:5px;
padding-left:auto;
}
.recent .tab-content li{
float:right;
}
	.sidebar-widget .nav span, .recent .tab-content span{
 float: right;
}.pagination > li {  float: right;}
 .sidebar-widget .rigt, .recent .tab-content .rigt {
 float: right;
	}.hc_serv_icon {  float: right;}.service .col-md-3 .icon {  padding: 20px;  float: right;}.about-department .btn .icon {  margin-left: 20px;  margin-right: auto;}
.sidebar-widget .nav .badge, .recent .tab-content .badge{
    float: left;
	}
/* sidebar end */

/* rightside start */
.rightside .right-widget .carousel-control.right{
left:35px;
right:auto;
}
.rightside .right-widget .carousel-control.left{
right:35px;
left:auto;
}
/* rightside end */

/* masanary start */
.right-pagi{
	text-align:left;
}
.left-pagi{
	text-align:right;
}
/* masanary end */

/* Blog desc start */
.posts .owl-carousel .owl-prev {
    float: right;
    right: 10px;
    left: auto;
}
.posts .owl-carousel .owl-next {
    float: left;
    right: auto;
}
 .alignleft{
float:right;
margin:5px 5px 5px 20px;
}
 .alignright{
float:left;
margin:5px 5px 5px 20px;
}
.blogs .posts .owl-carousel .owl-next {
    float: left;
	left: 0px;
    right: auto;  
}
.blogs .posts .owl-carousel .owl-prev {
    float: right;
    right: 0px;
    left: auto;
}
.comment{
margin:0 30px 0 0 ;
}
.comment .col-xs-2{
    right: -70px;
    left: auto;
	}
.comment .margin1{
margin-right:16%;
margin-left:auto;
}
.comment .margin2{
margin-right:24%;
margin-left:auto;
}
.comment .margin3{
margin-right:32%;
margin-left:auto;
}
.comment a{
    float: left;
    left: 30px;
    right: auto;
	}
.feedback{
margin-right:0px;
margin-left:auto;
}	
.feedback  .form-group {
float:right;
}
.feedback .form-group label {
margin-right:10px;
margin-left:auto;
}
.feedback   .form-group .form-control {
float:right;
}
.feedback  .form-group  textarea.form-control {
float:right;
}
.feedback  form .btn{
margin-right:30px;
margin-left:auto;
}
/* blog desc end */ 

/* Portfolio */
.portfolio .element-item .overlay .ln{
    right: 30%;
    left: auto;
}
.portfolio .icon {
  right: 50%;
  left: auto;
  margin-right: -10px;
  margin-left: auto;
}
/* Portfolio */

/* Contact */
.contact-info {  float: right;}.contact .message .form-group {  float: right;}
.contact .contact-detail{
margin-right:0px;
margin-left:auto;
}
.contact .message{
margin-right:0px;
margin-left:auto;
}
#search{
padding-right:10px;
padding-left:auto;
}
#search-label:before {
    left: 10px;
    right: auto;
}
#date_iso_format{
padding-right:10px;
padding-left:auto;
}
#date_iso_format-label:before {
    left: 0;
    right: auto;
}

#name,
#email,
#phone,
#message{
padding-right: 30px;
padding-left: auto;
}

#name-label:before {
    right: 5px;
    left: auto;
}
#email-label:before {
     right: 5px;
    left: auto;
}
#phone-label:before {
    right: 5px;
    left: auto;
}
#message-label:before {
    right: 5px;
    left: auto;
}
/* Contact */

/* Emergency */
.emergency .ln {    right: 50%;    left: auto;    margin-right: -100px;}
/* Emergency */
 
 /* Doctors */

.doctors .img-thumbnail .overlay h4 {
  padding-right: 10px;
  padding-left: auto;
  text-align: right;
}
.doctors .img-thumbnail .overlay h5 {
  padding-right: 10px;
  padding-left: auto;
  text-align: right;
  float:right;
}.appoinment {  float: right !important;}
.abt-appoinment .feed .form-group {  float: right;}
.doctors  .img-thumbnail  .overlay a{
float:right;margin: 5px 5px 0 0;
}
.doctors .img-thumbnail .overlay button {
    margin-right: 10px;
    margin-left: auto;
}
p.member_social {
  float: right;
  padding-right: 8%;
  padding-left: auto;
}
 /* Doctors */
 
 /* Department */


.department .nav-tabs .active::after{
    left: 41%;
    right: auto;
}  
.department .tab-content .col-md-6 .line {
    right: 0px;
    left: auto;
}
.department ul  li.active::after{
    left: 41%;
    right: auto;
}  
.department ul  li.active::before {
 left: 40%;
    right: auto;
}
 
 /* About US */
 .about_doctors .docs{
    margin-left: 5%;
    margin-right: auto;
	float:right;
}
 .about_doctors .docs h4 span {
    float: left;
}
  .about_doctors .docs  .caption h4 a{
 float: left;
  }
   .about_doctors  .docs .name{
 right: -2px;
 left: auto;
 }

 /* About Us */
 
 /* ABout department */
 .about-department .btn:after {
    float: left;
 }
  /* Icon when the collapsible content is hidden */
   .about-department .btn-lg{
  text-align:right;
  }
  /* Department end */
  
  /* Event Start */
.events .up-event .health-event{
margin-left: 8%;
margin-right: auto;
float:right;
}
.events .up-event .dates{
right: -45px;
left: auto;
}

  /* Event End */
  /* About Appoinment */

.appoint #date_iso_format-label::before {
  left: 20px;
  right: auto;
}
.about-appoinment .heading{
text-align:right;
}
.about-appoinment .mobile{
 right: 20%;
 left:auto ;
}
.about-appoinment .mobile .ln3{
    left: 30%;
    right: 15%;
	}
.about-appoinment .mobile .heart {
    right: 43%;
    left: auto;
}	
.about-appoinment .mobile .form-control{
text-align:right;
}
.about-appoinment .mobile  .btn{
float:left;
}
.about-appoinment .mobile #date_iso_format-label::before {
    left: 5px;
    right: auto;
}
  /* About Appoinment */
 
/* About Doctors Start */

.about-doctors .button-group .button .icon{
margin-right:1%;
margin-left:auto;
}
.about-doctors .button-group .button::after{
 margin-right: -35px;
 margin-left: auto;
}
.about-doctors .button-group .button.is-checked::after{
 margin-right: -35px;
 margin-left: auto;
}

.about-doctors .about-doc-details .heart{
    right:50%;
    left:auto;
}
.about-doctors .about-doc-details .ln {
    right: 10%;
    left: 10%;
}

.about-doctors .about-doc-details .view{
    margin-right: 25%;
    margin-left: auto;
}

/* About Doctors End*/

/* about client */
  .client .owl-theme .owl-controls .owl-page {
    float: left ;
}
/* about client say */


/* Shortcode start */
.line{
right: 5px;
left: auto;
}
.progress{
text-align:right;
}.progress-bar{float:right;}.progress-bar{  -moz-animation-name: slideInRight;    -moz-animation-iteration-count: 1;    -moz-animation-timing-function: ease-in;    -moz-animation-duration: 1.9s;		 -webkit-animation-name: slideInRight;    -webkit-animation-iteration-count: 1;    -webkit-animation-timing-function: ease-in;    -webkit-animation-duration: 1.9s;    animation-name: slideInRight;    animation-iteration-count: 1;    animation-timing-function: ease-in;    animation-duration: 1.9s;}@-moz-keyframes slideInRight {	0% {        -moz-transform: translateX(100%);    }    100% {        -moz-transform: translateX(00);    } }@-webkit-keyframes slideInRight {  0% {        -moz-transform: translateX(100%);    }    100% {        -moz-transform: translateX(00);    } }@keyframes slideInRight {  0% {        -moz-transform: translateX(100%);    }    100% {        -moz-transform: translateX(00);    } }
 .process .alignright{
float:left;
}
/* Shortcodes End */

/* Tabs Start */
.tabs .tab-content ul li::before{
    right: 10px;
    left: auto;
}.nav-tabs > li {  float: right;}
/* Tabs end  */

/* Accordine Start */
.accordion .accordion-details .type1  .btn-lg,
.accordion .accordion-details .type2  .btn-lg {
    padding: 10px 40px 10px 10px;
    text-align: right;
    width: 100%;
  border-radius:0 !important;
}.accordion .accordion-details .type3 .btn::after {  float: right;}
.accordion .accordion-details .type3  .btn-lg {
    padding: 10px 40px 10px 10px;
    text-align: right;
}
.accordion .accordion-details .type4  .btn-lg {
    padding: 10px 40px 10px 10px;
    text-align: right;
}.accordion .accordion-details .type4 .btn::after {  float: left;}

.accordion .accordion-details .type1 .btn::after {
    float: right;
}
.accordion .accordion-details .type2 .btn::after {
    float: right;
}
.shortcodes-icons .center-icons  .icon1,
.shortcodes-icons .center-icons  .icon2,
.shortcodes-icons .center-icons  .icon3{
margin-right:25%;
margin-left:auto;
}
.drop-caps .cap1,
.drop-caps .cap2,
.drop-caps .cap3 {
 float: right;
}
/* Doctors Detail */
.experience  .exp1 .col-md-8{
 padding: 28px 15px 50px 0 !important;
}
.experience  .exp h3,
.experience  .exp1 h3{
margin-right:10%;
margin-left:auto;
}
/* DOctors Detail */

/* Portfolio Detail */

.portfolio-pic .detail .icon {
margin: 0 15% 0 5px;
}
.portfolio-details  .pager li.previous{
float:right;
}
.portfolio-details  .pager li.next{
float:left;
}
.portfolio-details .related-post .owl-carousel .owl-prev {
   float: right;
    right: 15px;
    left: auto;
	 transform: rotate(180deg);
}
.portfolio-details .related-post .owl-carousel .owl-next {
  float: left;
  left: 15px;
  right: auto;
   transform: rotate(180deg);
}
/* Portfolio Detail */
/* Error */
/* Error */
.department .owl-carousel .owl-prev {
  float: right;
  right: 0px;
  left: auto;
   transform: rotate(180deg);
}
.department .owl-carousel .owl-next {
  float: left;
  left: 0px;
  right: auto;
   transform: rotate(180deg);
}

.widget-footer #s, .sidebar-widget #s {
  float: right;
}
.widget-footer #searchsubmit, .sidebar-widget #searchsubmit {
  float: right;
}
#related-members .owl-prev {
  float: right;
  right: 0;
  left: auto;
}
#related-members .owl-next {
  float: left;
  left: 0;
  right: auto;
}
.scrol{
left:50px;
right:auto;
}.service{	float:right;}.blog-desc{	margin:0 !important;}.posts{	margin:0 !important;}.blog-pager{	margin:0 !important;}
.woocommerce .comment_container img {
  float: right !important;
}.blogs .rightside .author .col-xs-2 {  float: right;}.doctors-pic,.single-text {	margin:0 !important;}.portfolio-pic .col-md-8,.portfolio-pic .col-md-4{	float:right !important;}.portfolio .port-vertical {    float: right;}
.woocommerce div.product form.cart .button {
  float: left !important;
}@media (max-width:768px){.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {    right: 50% !important;}.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {    left: 50% !important;}.department ul li.active::after {    left: 70%;    right: auto;}.comment .col-xs-2 {    right: -50px;    left: auto;}}@media (max-width:767px){	.navbar-header {    float: none;}.navbar-right {    float: none !important;	padding-right: 10px;    margin: 0;}.navbar-nav > li {    float: none !important;}.menu .fa-plus {    float: left;    margin-right: 5px;    background: #ccc;    padding: 5px;}.navbar-nav > li > .dropdown-menu {    margin-top: 0px !important;    margin-left: 0;    position: relative !important;    text-align: right !important;	left:0 !important;	right:0 !important;}.dropdown-submenu>.dropdown-menu {    right: 0% !important;    left: 0 !important;    margin-right: -1px;    margin-left: 0;    text-align: right !important;}.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {    right: 20% !important;}.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {    left: 20% !important;}.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {    margin-right: 0;    margin-left: 0;}}@media (max-width:480px){	.header-info {     float: none; }.top a {    display: block;    float: none;}.header-social {    float: none;}.header-social a {    display: inline-block;}.appoinment {   float: none !important;}.abt-appoinment .feed .form-group {    float: none;}.portfolio .port-vertical {    float: none;}}