/*
Theme Name: Healthcare Premium
Theme URI:
Author: weblizar
Author URI: http://weblizar.com/
Description: Health is a Full Responsive Multi-Purpose Theme suitable for Business , corporate office and others .Cool Blog Layout and full width page also present 
Version:  1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Tags: black, green, red, gray, dark, light, silver, white, two-columns, custom-menu, right-sidebar, fixed-layout, fluid-layout, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, flexible-header, responsive-layout
Text Domain: weblizar
*/

body{
 font-family: 'Open Sans' !important;
 padding:0 !important;
overflow:auto !important; 
}
a, button{
	outline: none !important;
  text-decoration:none !important;
}
a{
text-decoration:none;
color:#000;
}
a:hover{
text-decoration:none;
}
p{
color:#666;
}
#wrapper{
	background-color:#fff;
}
.boxed{
max-width:1230px;
margin:0 auto;
box-shadow:0 0 10px 0 rgba(48, 48, 48, 0.5);
}
p{
font-size:16px;
}
h3{
font-size:24px;
}
h4{
font-size:18px;
}
h5{
font-size:14px;
}
.navbar{
	border-bottom:1px solid #e6e6e6 !important;
}
.boxed .navbar  {
	max-width:1230px;
	margin:0 auto;
}
.navbar-brand img {
  display: block;
}
.sticky-head{
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.img-responsive{
width:100%;
height:auto;
}
.navbar-brand > img{
	max-width:100%;
}
.sticky-head .navbar-brand > img {
  margin: 0;
  max-height: 80px;
  width: auto;
}
/* Header Start*/
/* Top Start*/
.top{
padding:15px 0;
}
.top span{
display:inline-block;
}
.top .timing {
  float: right;
}
.top a{
	color:#fff !important;
}
.top a:hover .header-icon{
    transform:rotate(360deg);
    transition:all 1s ease 0.3s;
     border-radius:0px;
}
.top .header-icon {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 20px;
  padding: 2px;
  text-align: center;
  width: 20px;
}
/* Top End */

/* Menu Start */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left:0 !important;
}
.navbar-toggle{
margin-top:25px !important;
}
 .navbar-collapse .navbar-nav li a:hover::before, .navbar-collapse .navbar-nav li a:focus::before,
 .navbar-collapse .navbar-nav > .active > a::before, .navbar-collapse  .navbar-nav > .active > a:hover::before{
   content:" ... ";
    height: 0;
    position: absolute;
    left:0;
    width: 0;
	font-size:48px;
} 
.navbar-right {
  margin-right: 0 !important;
}
.nav > li > a{
color:#000;
}
.dropdown-menu li{
border-bottom:1px solid #ddd;
}
.dropdown-menu .divider{
border:0px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu{
border:1px solid #ccc;
}
.dropdown .dropdown-menu::before {
border-color: rgba(0, 0, 0, 0.3) transparent;
}
.dropdown .dropdown-menu::after{
  border-color: #fff transparent;
} 
.dropdown .dropdown-submenu .dropdown-menu::after{
  border-color: #fff transparent;
}  
.dropdown .dropdown-submenu  .dropdown-menu::before {
  	border-color: rgba(0, 0, 0, 0.3) transparent;
}
.navbar-collapse .navbar-nav > .active > a, .navbar-collapse .navbar-nav > .active > a:focus, .navbar-collapse  .navbar-nav > .active > a:hover {
    background-color: #fff;
}
.navbar-collapse .navbar-nav > li > a:focus, .navbar-collapse .navbar-nav > li > a:hover{
	background-color:#fff !important;
}
.dropdown-menu > li > a:hover{
color:#fff !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
background-color:#fff !important;
}
.dropdown-menu  .open > a, .dropdown-menu  .open > a:focus, .dropdown-menu  .open > a:hover{
color:#fff !important;
}
.dropdown-submenu:hover > a:after{
border-left-color:#555;
}
.dropdown-menu  li > a::before, .dropdown-menu  li > a:focus::before, .dropdown-menu  li > a:hover::before{
display:none;
content:" ":
}
.dropdown-menu .fa-plus {
  float: right;
  margin-top: 0px;
  position: absolute;
  right: 20px;
}
.navbar-brand {
  font-size: 27px !important;
  height: auto !important;
  padding: 5px 0 !important;
  color:#000;	
}
.navbar-right{
margin-top:30px !important;
}
.nav > li > a{
padding:10px 15px 10px 0 !important;
font-size:16px;
font-weight: bold !important;
}
.nav > li{
margin:0px;
}
.navbar-right .dropdown-menu{
left:-60px !important;
right:-60px !important;
text-align:center;
opacity:0.9;
max-width: 200px;
}
@media (max-width:767px){
.navbar-right .dropdown-menu{
max-width: 100%;
}
}
.menu {
  min-height: 90px !important;
}
.navbar-nav > li > .dropdown-menu{
margin-top:22px !important;
}
.dropdown-menu .divider{
margin:0px;
}
.dropdown-menu{
padding:0px !important;
border-radius:0px;
}
.dropdown .dropdown-menu::before {
    border-style: solid;
    border-width: 0 15px 23px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 40%;
    width: 0;
}
.dropdown .dropdown-menu::after{
    border-style: solid;
    border-width: 0 13px 20px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 41%;
    width: 0;
}
.dropdown .dropdown-submenu .dropdown-menu::after{
    border-style: solid;
    border-width: 0 13px 20px;
    bottom: 100%;
    height: 0;
    position: absolute;
    right: 41%;
    width: 0;
	display:none;
}
.dropdown .dropdown-submenu  .dropdown-menu::before {
    border-style: solid;
    border-width: 0 15px 23px;
    bottom: 100%;
    height: 0;
    position: absolute;
    right: 40%;
    width: 0;
	display:none;
}
.dropdown-menu > li > a{
padding:10px !important;
font-weight: bold !important;
white-space:normal !important;
}
.dropdown-menu li.dropdown:hover a{
color:#fff !important;
}
.dropdown-menu li.dropdown .dropdown-menu a{
color:#000 !important;
}
.dropdown-menu li.dropdown .dropdown-menu a:hover{
color:#fff !important;
}
.marginBottom-0 {margin-bottom:0 !important;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100% !important;margin-top:-2px;margin-left:-1px; margin-right:-130px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.dropdown-submenu>a:after{display:block;content:"";float:right;width:0;height:0;border-color:transparent; font-weight:bold; border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:-1px;margin-right:0px; font-size:20px;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-menu li.dropdown .dropdown-menu .active .dropdown-menu a {
    color: #000 !important;
}
.dropdown-menu li.dropdown .dropdown-menu .active .dropdown-menu a:hover {
    color: #fff !important;
}
.sticky-head .top{
	display:none;
}
/* Menu End */

/* Slider Start*/
.carousel-control{
width:10%;
}
.carousel-control.right,.carousel-control.left{
background-image:none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
left:10% !important;
height:40px !important;
width:50px !important;
padding:5px !important;
}
 .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
right:10% !important;
height:40px !important;
width:50px !important;
padding:5px !important;
}

.carousel-caption{
top:15% !important;
left:10% !important;
right:0 !important;
position:absolute;
float:left !important;
width:500px;
animation-name:zoomInUp;
animation-duration:infinite;
}
.slider-caption {
  padding: 20px 0;
  margin:0 !important;
}
.slider-link{
margin:0 !important;
}
.carousel-caption .icon{
left:22%;
margin-top:-25px;
font-size:36px;
z-index:99;
position:absolute;
border-radius:50%;
padding:5px;
}
.carousel-caption h1{
float:left;
padding-left:25px;
padding-top:20px;
font-size:36px !important;
text-align:left;
width:100%;
margin-bottom:20px;
margin-top:0;
}
.carousel-caption p{
 float: left;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
	padding-top:0px;
	line-height:25px;
	width:100%;
}
.carousel-caption .btn{
position:relative;
border-radius:0px;
float:left;
padding: 7px 25px;
left:0px;
border:0px;
}
.carousel-indicators li{
width:15px;
height:15px;
}
.carousel-indicators .active{
width:15px;
height:15px;
}
.slider .ln{
border: 1px solid;
    left: 6%;
    margin-top: 20px;
    position: relative;
    right: 25%;
    width: 42%;
}
.slider .ln1{
width:29%;
 left: 12%;
 right: 30%;
 margin-top:-7px;
position:relative;
border:1px solid;
}
/* Slider End*/

/* Text Start */
.text{
padding:20px 0;
font-size:24px;
}
.text .link{
border-radius: 30px;
font-size: 18px;
float:right;
}
/* Text End */

/* Services Start */
.services .hc-service{
  margin:0 !important;
  }
.facts-cover .row{
    margin:0 !important;
  }
.space{
padding-top:50px;
padding-bottom:50px;
}
.department h1,
.space h1{
font-size:63px !important;
text-align:center;
padding-bottom:20px;
}
.ln2 {
    border: 1px solid;
    margin-top: 40px;
    position: relative;
    width: 250px;
    margin: 0 auto;
}
.ln3 {
    width: 180px;
    margin: 0 auto;
    margin-top: -7px;
    position: relative;
    border: 1px solid;
}
.heart {
  border-radius: 50%;
  font-size: 36px !important;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  padding: 2px;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.text .link span{
    margin-left:10px;
}
 .desc{
margin-top: 40px;
margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
	}
	.service{
	min-height:250px;
	overflow:hidden;
	}
.services h3 {
  color: #444;
  font-weight: bold;
}
	.service .icon{
    font-size: 48px;
    padding: 10px 20px;
	overflow:hidden;
	transition: all 0.6s ease 0s;
	}
.services a:hover .icon{
transform:scale(1.4) rotate(-15deg);
}
.health-dept .tab-content>.active{
-moz-animation-name: slideInLeft;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.9s;
	
	 -webkit-animation-name: slideInLeft;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.9s;

    animation-name: slideInLeft;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}
.health-dept .show-data{
display:block !important;
-moz-animation-name: slideInLeft;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.9s;
	
	 -webkit-animation-name: slideInLeft;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.9s;

    animation-name: slideInLeft;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}
@-moz-keyframes slideInLeft {
    0% {
        -moz-transform: translateX(-40px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-40px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0);
    }
}
/* Services End */

/* Testimonail Start */
.testimonail {
    background-attachment: fixed;
    background-image: url("images/back1.jpg");
}
.testimonail-cover {
    background-color: rgba(0, 0, 0, 0.7);
}
.pics{
margin-left:30px;
margin-top:40px;
margin-bottom:40px;
}
.testimonail .pics  .img-thumbnail{
    border-radius: 50%;
    z-index: 99;
    position: relative;
	padding:1px;
	}
	.pics  .img-thumbnail{
    z-index: 99;
	border-radius: 0px;
    position: relative;
	}
.testimony{
    margin-top: 140px;
	margin-bottom:40px;
    margin-left: -105px;
    opacity: 0.7;
	}
.testimony blockquote{
	padding: 15px 0 15px 70px;
    border-left: 0px;
	}
.testimony .name{
	position: absolute;
    bottom: -34px;
    float: right;
    right: 10px;
	}
.testimony .pos{
	position: absolute;
    bottom: -45px;
    float: right;
    right: 10px;
}
.testimonail .swiper-container-horizontal > .swiper-pagination{
	bottom: 10px;
}
.swiper-pagination-bullet{
	width: 12px;
    height: 12px;
    opacity: 0.9;
}
.swiper-slide,
.owl-carousel .owl-item {
  cursor: move;
}
.testimonail-cover .row {
    margin: 0 !important;
}

	/* Testimonail Start */
	
	/* News  Start */
.news   .owl-theme .owl-controls .owl-buttons div{
  border-radius:0px;
  opacity:1;
   padding:0px 15px ;
    font-size:30px;
	font-weight:bold;
}
.news  .owl-carousel  .owl-next{
  position:absolute;
  float:right;
   right:15px !important;
   width:40px;
  height:40px;
  top:40%;
  }
.news  .owl-carousel  .owl-prev{
  position:absolute;
  float:left;
  left:15px !important;
  width:40px;
  height:40px;
  top:40%;
  }
.news .owl-theme .owl-controls .owl-page span{
  opacity:0.9;
}
  .news .date{
  padding:5px;
  font-size:16px;
  margin:5px 0px;
  }
  .news .category{
  padding:5px;
  font-size:16px;
  margin:5px 0px;
  }
.news a,
.news a:hover{
  color: #444;
  text-decoration: none !important;
}
.news .btn {
  border-radius: 0;
  color: #fff;
  font-weight: bold;
}
  .no-pad{
  padding:0px !important;
  }
  .news button{
  margin:15px 0px;
  }
.overlay:hover{
opacity:0.6 !important; 
}
.news .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding:25% 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
 }
 .news .overlay  a{
font-size:24px;
padding:3px 15px;
position:relative;
top:40%;
}
.news .img-thumbnail {
    display: block;
    padding: 0;
    border: 0;
    position: relative;
}
.news .row {
    margin: 0 !important;
}
	/* News End */
/* Gallery Start */
 .gallerys .ln2{
    border: 1px solid;
  	margin:0 auto;
    position: relative;
    width: 250px;
	}
.gallerys .ln3{
    width: 180px;
    margin:0 auto;
    margin-top: -7px;
    position: relative;
    border: 1px solid;
}
.gallerys .item{
overflow:hidden;
}
.gallerys .item  img{
	transition: all 0.6s ease 0s;
}
.gallerys .item:hover img{
 transform:scale(1.5);
}
.gallerys .overlay:hover,
.widget-footer .overlay:hover,
.widget-footer .col-xs-4 .overlay:hover{
opacity:0.6;
}
.gallerys  .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
 }
 .gallerys .overlay .ln {
  left: 25%;
  position: relative;
  top: 0;
  width: 50%;
}
.gallerys .hrt {
  border-radius: 50%;
  font-size: 36px;
  left: 0;
  margin-top: -15px;
  padding: 2px;
  position: relative;
  text-align: center;
  z-index: 99;
}
.gallerys .overlay a {
  font-size: 18px;
  padding: 3px 15px;
  position: relative;
  top: 5%;
}
.gallerys .overlay h5{
margin-top:1%;
}
.gallerys  .overlay a {
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
    padding: 3px 15px;
    position: relative;
    top: 5%;
}
.portfolio-details .gallery {
  margin: 0;
}
/* Gallery End */ 

/* Fun Facts start */
.facts {
    background-attachment: fixed;
    background-image: url("images/banner.jpg");
}
.facts-cover {
    background-color: rgba(0, 0, 0, 0.5);
}
.facts .text-center {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 60px;
}
.facts .text-center .icon{
    font-size: 54px;
    left: 40%;
    top: -60px;
    position: absolute;
	}
.facts .text-name {
  margin:0;
}
/* Fun facts end */

/* Clients Start */
  .clients .owl-theme .owl-controls .owl-buttons div,
  .clients  .owl-carousel  .owl-next, 
  .clients  .owl-carousel  .owl-prev{ 
  display:none;
  }
  
/* Clients End */

/* Appoinmeny Start */
.appoinment .form-control {
margin:15px;
float:left;
height:40px;
}
.appoinment  .form-group textarea.form-control{
height:150px;
}
.align{
text-align:center;
}
.appoinment .btn{
text-align:center;
padding:5px 30px;
font-weight:bold;
font-size:18px;
}
/* Appoinmeny End */

/* Footer Start */
.footer .widget-footer{
padding:0px;
margin:20px 0px;
}
.footer .widget-footer .footer-heading{
padding-bottom:20px;
}
.footer .widget-footer .footer-text{
margin:1px;
margin-top:20px;
}
.footer .widget-footer .footer-text .post-pics{
padding:0px;
margin-top:10px;
}
.footer .widget-footer .footer-text .post-text{
padding:0px 0px 0px 5px;
}
.footer .widget-footer .footer-text  .padding{
padding:5px 0px;
margin:0px;
}
.footer .widget-footer hr{
width:100%;
margin:15px 0px;
float:left;
}
.footer .widget-footer .footer-text .footer-gallery{
padding:5px;
}
.footer .widget-footer .footer-text .address{
margin:0px;
padding:5px 0px;
}
.widget-footer .ln{
 border: 1px solid;
    margin-left: 10px;
    margin-top: 0px;
    width: 80px;
	}
	.widget-footer .hrt{
	font-size: 18px;
    left: 55px;
    margin-top: -10px;
    position: absolute;
	}
	.widget-footer p{
	margin-top:20px;
	}
	.widget-footer a span{
	margin-top:20px;
	font-size:16px;
	}

	.widget-footer .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10% 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
 }
 .widget-footer  .overlay  a{
font-size:14px;
padding:3px;
position:relative;
}
.widget-footer .col-xs-4 .overlay{
  bottom: 5px;
  color: white;
  font-size: 1em;
  left: 5px;
  opacity: 0;
  overflow: hidden;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
 }
 .footer-bottom{
 padding:15px 0px;
 font-size:18px;
 }
 .footer-bottom a{ 
 margin:1px;
 }
 .footer-bottom .footer-icon {
  border-radius: 5px;
  height: 25px;
  padding: 2px;
  text-align: center;
  width: 25px;
  border: 1px solid #fff;
}
 .footer-bottom .right-align{
 float:right;
 }
.right-align a:hover .footer-icon {
  transform: rotate(360deg);
  transition: all 1s ease 0.6s;
  border-radius: 0;
}
/* Footer End */

/* blog start */
.cover {
  background-attachment: fixed;
  text-align:center;
}
.hc-cover {
    background-color: rgba(0, 0, 0, 0.7);
}
.cover .blog-link{
text-align:center;
  font-size:18px;
}
/* blog end */

/* sidebar start */
.padding{
padding:5px 0px;
margin:0px !important;
}

.sidebar .recent-gallery .owl-carousel .owl-pagination{
display:none;
}
@media (max-width:480){
  .sidebar {
    float:right !important;
    }
 }
.sidebar-widget {
    margin: 0;
    padding: 10px 15px;
}
.sidebar .search{
margin:10px 0px;
}
.sidebar .recent .nav li{
width:auto;
margin: 0;
padding: 0;
}
.sidebar-widget a{
  color:#000;
  }
.masanary h3 a {
  color: #444;
}
.sidebar-widget .recent ul {
  padding: 0;
  text-align: center;
}
.sidebar-widget .recent li a {
  font-size: 12px;
  white-space: normal;
  width: 74px;
  word-wrap: break-word;
  padding: 10px 0 !important;
   margin: 0;
		margin:-1px 0;
   border-radius: 0;
}
.form-control{
  padding-left:30px !important;
  }
.form-control:focus {
  outline:none !important;
  border-color:#ccc !important;
}
.sidebar-widget {
  margin: 0 !important;
  padding: 10px 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px !important;
}
.sidebar-widget .line{
width:80px;
position:relative;
 top: 0px !important;
}
.sidebar-widget a{
margin:3px 0px;
}
.sidebar-widget .pic{
padding:0px;
margin:1px;
}
.sidebar-widget .pic .pics{
padding:0px;
margin:1px;
}
.sidebar-widget .col-xs-12{
margin:5px 0px;
padding:0px;
}
.sidebar-widget .img-thumbnail{
border:0px;
padding:0px;
overflow:hidden;
border-radius:0px;
}
.sidebar-widget .img-thumbnail img{
transition: all 0.6s ease 0s;
}
.sidebar-widget .img-thumbnail:hover img
{
transform:scale(1.5);
}
.sidebar-widget .col-xs-3 {
  display: block;
  margin-top: 10px;
  padding: 0;
  position: relative;
}
.sidebar-widget .col-xs-12 .col-xs-9{
padding:0px 0px 0px 10px;
}
.sidebar-widget  .col-xs-3  .overlay:hover,
.sidebar-widget .pics .overlay:hover,
 .sidebar-widget .col-xs-4 .overlay:hover{
opacity:.6;
}
.sidebar-widget .media-body h3 {
  margin: 5px 0;
}
.sidebar-widget .col-xs-3 .overlay{
    bottom: 0;
    color: white;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.6s ease 0s;
 }
 .sidebar-widget .col-xs-3 .overlay a{
 position:relative;
 top:30%;
 }
 .sidebar-widget .pics .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 70px  20px;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
 }
.sidebar-widget .pics .overlay a{
 background-color: transparent;
    border-radius: 0;
    font-size: 20px;
    left: 5%;
    padding: 2px 10px;
    position: relative;
    top: 20%;
	float:none;
 }
 .sidebar-widget .col-xs-4{
 padding: 5px;
 }
 .sidebar-widget .col-xs-4 .overlay{
  bottom: 5px;
  color: white;
  font-size: 1em;
  left: 5px;
  opacity: 0;
  overflow: hidden;
  padding:  20px;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
 }
 .sidebar-widget .col-xs-4  .overlay a{
 position:relative;
 top:40%;
 }
.sidebar-widget .nav li {
    margin: 2px 5px;
    width: 100%;
	}
.sidebar-widget .nav a {
    font-size: 16px;
    padding: 7px;
	}
	
.sidebar-widget .nav .divider {
    margin: 0 0 0 10px;
    width: 100%;
	}
	.recent .tab-content ul{
	padding-left:5px;
	}
.recent .tab-content li {
  border-bottom: 1px solid #e6e6e6;
  float: left;
  list-style-type: none;
  padding: 10px 0;
  width: 100%;
}
.recent .padding {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
.recent .tab-content li a{
padding:5px;
font-size:18px;
}
.recent .comment_author {
  font-size: 18px;
  font-style: italic;
}
	.sidebar-widget .nav span, .recent .tab-content span{
 float: left;
 padding: 5px;
}
 .sidebar-widget .rigt, .recent .tab-content .rigt {
    float: left;
    padding: 2px 6px;
	}
.sidebar-widget .nav .badge, .recent .tab-content .badge{
    float: right;
    font-size: 18px;
	}
/* sidebar end */

/* rightside start */
.rightside .right-widget{
	margin:0;
margin-bottom:80px;
}
.rightside .img-thumbnail{
display:block;
border:0px;
padding:0px;
overflow:hidden;
  position: relative;
}
.rightside .img-thumbnail img{
transition: all 0.6s ease 0s;
}
.rightside .img-thumbnail:hover img
{
transform:scale(1.3);
}
.rightside  .col-md-12{
margin-top:0px;
}
.rightside .date{
margin:10px 0px;
font-size:16px;
}
.rightside p{
margin:10px 5px;
word-wrap: break-word;
}
.rightside .bg{
margin:10px 0px;
}
.rightside .right-widget .img-thumbnail  .overlay:hover{
opacity:0.6;
}
.rightside .right-widget .img-thumbnail  .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding:15% 0;
}
.rightside .right-widget .img-thumbnail  .overlay a{
 background-color: transparent;
    border-radius: 0;
    font-size: 24px;
    padding: 1px 10px;
    position: relative;
    top: 40%;
}
.rightside .right-widget .carousel-control.right{
right:35px;
}
.rightside .right-widget .carousel-control.left{
left:35px;
}
.space .pagination a{
    font-size: 18px;
    margin: 3px ;
	}
/* rightside end */

/* masanary start */
.masanary{
padding:2px;
padding-top:50px;
}
.masanary  .masanary-pic .img-thumbnail{
display:block;
padding:0px;
border:0px;
  position: relative;
}
.masanary  .masanary-pic  .img-thumbnail .overlay:hover{
opacity:0.6;
}
.masanary  .masanary-pic  .img-thumbnail  .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 15% 0;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.masanary  .masanary-pic .img-thumbnail  .overlay a{
 background-color: transparent;
    border-radius: 0;
    font-size: 24px;
    padding: 1px 5px;
    position: relative;
    top: 40%;
}
.masanary h3,
.masanary .date,
.masanary p{
padding:5px 10px;
}
.masanary .bg{
margin:7px 10px;
}
.masanary .pagination{
float: none;
}
.masanary .col-md-4{
margin:10px 0px;
}
.masanary .col-md-4 .img-thumbnail{
display:block;
padding:0px;
border:0px;
}
.right-pagi{
	text-align:right;
}
.left-pagi{
	text-align:left;
}
.center-pagi{
	text-align:center;
}
/* masanary end */

/* Blog desc start */

.rightside .pager li > a, .pager li > span {
    border-radius: 0px;
}
.rightside .blog-desc .img-thumbnail  .overlay:hover,
.rightside .posts .owl-carousel .img-thumbnail .overlay:hover{
opacity:0.6;
}
.rightside .blog-desc .img-thumbnail  .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding:20% 10px;
}
.rightside .blog-desc .img-thumbnail   .overlay a{
 background-color: transparent;
    border-radius: 0;
    font-size: 24px;
    padding: 1px 5px;
    position: relative;
    top: 40%;
}
.rightside .posts .img-thumbnail .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 30% 20px ;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.rightside .posts .img-thumbnail .overlay a{
 background-color: transparent;
    border-radius: 0;
    font-size: 24px;
    padding: 1px 5px;
    position: relative;
    top: 40%;
}
 .alignleft{
display:inline;
float:left;
line-height:1.5;
margin:5px 20px 5px 5px;
}
 .alignright{
display:inline;
float:right;
line-height:1.5;
margin:5px 20px 5px 5px;
}
.aligncenter{
display:table-caption;
margin-left:auto;
margin-right:auto;
}
.margin{
margin-top:30px;
margin-bottom:30px;
}
.blogs .rightside  .author{
margin-left:0px;
margin-right:0px;
}
.blogs .rightside  .author .row{
margin-left:0px;
margin-right:0px;
}
.blogs .rightside  .author .col-xs-2{
    border-radius: 50%;
    padding: 0;
	}
.blogs .rightside .line{
width:80px;
position:relative;
top:10px;
}
.blogs .rightside .alignright a{
margin:5px;
font-size:18px;
}
.blogs .posts .pic {
    margin: 1px;
    padding: 0;
}
.blogs .posts  .pic .pics{
	margin: 1px;
    padding: 0;
}
.comment{
padding:5px 15px;
margin:0 0 0 30px;
}
.comment .col-xs-12 {
  margin-top: 10px;
}
.comment .col-xs-2{
    border-radius: 50%;
    left: -70px;
    position: absolute;
	padding:0px;
	}
.comment .margin{
margin:20px 0px;
}
.comment .margin1{
margin:20px 0px;
margin-left:16%;
}
.comment .margin2{
margin:20px 0px;
margin-left:24%;
}
.comment .margin3{
margin:20px 0px;
margin-left:32%;
}
.comment .comment-reply-link{
    float: right;
    font-size: 16px;
    position: relative;
    right: 30px;
	}
.feedback{
margin-top:30px;
margin-left:0px;
}	
.feedback  .form-group {
float:left;
}
.feedback .form-group label {
margin-left:10px;
}
.feedback   .form-group .form-control {
width:100%;
height:40px;
float:left;
margin:10px;
background-color:transparent;
}
.feedback  .form-group  textarea.form-control {
width:100%;
margin:15px;
float:left;
height:150px;
background-color:transparent;
}
.feedback  form .btn{
border-radius:0px;
margin-left:30px;
}
.feedback .width{
width:100% !important;
}
/* blog desc end */ 
/* Service Icon */
.services .line{
width:80px;
border:2px solid;
position:relative;
top:10px;
}
.service-icon{
font-size:84px;
position:relative;
top:-10px;
}
.services .service a{
padding:5px;
}
.services .service a .icon{
font-size:16px;
border-radius:50%;
padding:5px;
}
.service .col-md-3 .icon{
padding:20px;
}
.service .img-thumbnail{
border:0px;
}
.service4{
min-height:250px;
}
.service4 .col-xs-3 .icon{
font-size:48px;
padding:10px 0px;

}
.service4 .col-xs-12{
min-height:80px;
}
.services .service4 a .icon{
font-size:16px;
border-radius:50%;
padding:5px;
}
/* Service Icon*/
/* Portfolio */
.portfolio .button-group{
margin:20px 10px;
}
.portfolio .button{
padding:5px 20px;
font-size:18px;
}
.portfolio .element-item .overlay:hover{
opacity:0.6;
}
.portfolio .element-item .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 15px;
  opacity: 0;
  overflow: hidden;
  padding: 1% 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.portfolio .element-item .overlay .ln{
    left: 30%;
    position: relative;
    margin-top: 6%;
    width: 40%;
}
.portfolio .element-item .overlay a{
 background-color: transparent;
    border-radius: 0;
    font-size: 20px;
    padding: 2px 15px;
    position: relative;
    top: 10%;
}
.portfolio .icon {
  font-size: 30px;
  left: 50%;
  margin-top: 10px;
  position: absolute;
  top: 15%;
  margin-left: -10px;
}
	.portfolio h5{
	margin:5% 0%;
	}
	.portfolio .col-md-3 .overlay .icon{
	font-size:18px;
	top:18%;
	}
	.portfolio .col-md-3 .overlay h5{
	margin:2% 0%;
	}
.portfolio .col-md-6 .overlay .icon{
	top:13%;
	}
/* Portfolio */

/* Contact */
	.contact .line{
	width:80px;
	position:relative;
	top:10px;
}
.contact .img-thumbnail{
border:0px;
}
.contact .map{
margin:30px 0px;
min-height:300px;
}
.contact .col-xs-12 .icon{
font-size:18px;
}
.contact .pic .img-thumbnail{
    border: 0 none;
    margin-top: 58px;
    padding: 0;
    position: absolute;
}
.contact .contact-detail{
margin-top:30px;
margin-left:0px;
}
.contact .contact-detail .col-md-12{
min-height:100px;
padding:0px;
margin-top:10px;
}
.contact .contact-detail  .icon{
font-size:20px;
}
.contact .message{
margin-top:20px;
margin-left:0px;
}
.contact .message .form-group{
margin-top:20px;
}
#search{
padding-left:10px;
}
.sidebar .search #search-label
{
position:relative;
width:100%;
}
#search-label:before {
    content:"\f002";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    right: 10px;
	font-size:18px;
}
#date_iso_format{
padding-left:10px;
}
.appoinment  #date_iso_format-label
{
position:relative;
width:100%;
}
#date_iso_format-label:before {
    content: "";
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 20px;
}

#name,
#email,
#phone,
#message{
padding-left: 30px;
}
.contact .col-md-6  #name-label,
.contact  .col-md-6  #email-label,
.contact  .col-md-6  #phone-label{
    position: relative;
	width:100%;
}
.contact .col-md-6  #message-label {
    position: relative;
	width:100%;
}
.contact .message #name-label,
.contact .message #email-label,
.contact .message #phone-label{
    position: relative;
	width:90%;
}
.contact .message #message-label {
    position: relative;
	width:97%;
}
#name-label:before {
    content:"\f007";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 5px;
	font-size:18px;
}
#email-label:before {
    content:"\f1fa";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 5px;
	font-size:18px;
}
#phone-label:before {
    content:"\f095";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 5px;
	font-size:18px;
}
#message-label:before {
    content:"\f0e0";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 5px;
	font-size:18px;
}
/* Contact */

/* Emergency */
 .emergency{
margin:auto 0;
text-align:center;
font-weight:bold;
}
.emergency a {
    color: #fff;
}
 .emergency .icon{
 font-size:60px;
 }
 .emergency .ln{
 width:200px;
left:44%;
margin-top:15px;
position:absolute;
 z-index:1;
 }
 .emergency .icon{
 font-size:42px;
 border-radius:50%;
 }
/* Emergency */
 /* Who We are */
 .cover1{
 position:relative;
 z-index:1;
 }
 .cover1:before{
width:100%;
opacity:1;
z-index:-1;
content:"";
position:absolute;
height:100%;
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url(images/bg1.jpg) no-repeat fixed;
}
.who .col-md-12{
margin-top:20px;
}
.who .icon{
font-size:60px;
padding-top:30px;
}
.who .about-pic{
top:16px;
}
.who .about-pic .img-thumbnail{
border:0px;
position:absolute;
}
 /* End We are */
 
 /* Doctors */
   .doctors .grid{
   margin-top:30px;
  margin-bottom:10px;
   }
.grid h3 a {
  color: #444 !important;
  font-weight: bold;
  text-decoration: none;
}
 .doctors .img-thumbnail {
  border: 0 none;
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
}
		.doctors  .img-thumbnail img{
		transition: all 0.6s ease 0s;
		}
	 .doctors  .img-thumbnail:hover img{
	 transform:scale(1.5) rotate(15deg);
	 }
  .doctors .element-item h3{
text-align:center;
}
 .doctors .button-group{
text-align:center;
margin-top:30px;
}
.doctors .button{
border-radius:30px;
margin:5px 15px;
padding:6px 12px;
}
 .doctors  .img-thumbnail .overlay:hover{
 opacity:0.6;
 }
.doctors  .img-thumbnail .overlay {
    bottom: 0;
    color: white;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 25% 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top:0;
    transition: all 0.6s ease 0s;
}
.doctors .img-thumbnail .overlay h4 {
  display: inline-block;
  padding-left: 10px;
  text-align: left;
  width: 100% !important;
}
.doctors .img-thumbnail .overlay h5 {
  padding-left: 10px;
  text-align: left;
  display: block !important;
  width: 100%;
  float: left;
}
.doctors .img-thumbnail .overlay .hc-member-title {
  border: 0 none !important;
}
.doctors .img-thumbnail .overlay .hc-member-title:hover {
  border: 0 none !important;
  background:transparent !important;
  color:#fff !important;
}
.doctors .img-thumbnail .overlay .btn {
  border-radius: 30px;
  margin: 5px 10px;
  display: block !important;
}
.doctors  .img-thumbnail  .overlay a{
border-radius:50px;
float:left;
margin:5px 0 0 5px ;
position:relative;
}
.doctors .img-thumbnail .overlay button {
    display: block;
    border-radius: 30px;
    margin-left: 10px;
    padding: 7px 10px;
    background-color: #fff !important;
    color: #0098ff;
    border: 0;
}
.doctors .img-thumbnail  .overlay .icon{
 padding:5px;
  font-size:24px;
  margin:2px;
}
.doctors .img-thumbnail  .overlay .fa-facebook{
padding:5px 10px;
}
p.member_social {
  color: #666;
  float: left;
  width: 100%;
  padding-left: 8%;
}
 /* Doctors */
 
 /* Medical services */
 .medical .icons{
 margin:15px 0;
transition: all 0.6s ease 0s;
}
.medical .icons:hover{
	 transform:scale(1.2);
	 }
 .medical .icons .icon{
    border-radius: 50%;
    font-size: 36px;
    padding: 20px;
	}
	.medical .col-xs-8 h4{
	padding-top:35px;
	}
 /* Medical Services */
 
 /* Department */
 .cover2 {
    background-attachment: fixed;
    background-image: url("images/department.jpg");
}
.cover2-cover {
    background-color: rgba(0, 0, 0, 0.5);
}
.dept-icon {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block !important;
  font-size: 42px !important;
  padding: 25px;
  margin-bottom:10px;
  height:100px;
  width:100px;
}
#owl-demo3 li:hover .img-thumbnail {
  transform: scale(1.2);
  transition:all 1s ease 0.3s;
}
#owl-demo3 li:hover .dept-icon {
  transform: rotate(360deg);
  transition:all 1s ease 0.3s;
}

.department .nav-tabs{
margin-bottom:52px; 
}
.department  .nav > li{
margin:0px 50px;
}
.department .nav-tabs  li a .img-thumbnail{
padding:0px;
border:0px;
overflow:hidden;
}
.department .nav-tabs > li > a{
text-align:center;
overflow:hidden;
/* margin-left:15px;
margin-right:15px; */
}
.department .nav-tabs > li > a > .img-thumbnail img{
margin:3px 0px;
border:1px ;
 transition:all 0.6s ease 0s;
}
.department .nav-tabs > li > a > .img-thumbnail:hover img{
transform: rotate(-15deg);
}
.department .nav-tabs > li > a:focus, .department .nav-tabs > li > a:hover,
.department .nav-tabs > li.active > a, .department .nav-tabs > li.active > a:focus, .department .nav-tabs > li.active > a:hover{
border:0px;
}
.department .nav-tabs{
border-bottom:0px;
}
.department .nav-tabs .active::after{
    border-style: solid;
    border-width: 0 13px 20px;
    top: 124%;
    content: "";
    height: 0;
    position: absolute;
    right: 41%;
    width: 0;
}  
.department  .tab-content{
margin-top:5px;
}
.department .tab-content .col-md-6,
 .department .tab-content .col-md-4 {
    margin: 0;
}
.department .tab-content .col-md-6 .line {
    left: 0px;
    position: relative;
    top: 10px;
    width: 80px;
}
.department .tab-content .col-md-4 .col-md-12 {
    padding: 0 0 0 100px;
}
.department .tab-content .col-md-4 .icon {
    font-size: 30px;
    padding: 4px;
}
.department  .tab-content  p {
    margin-top:10px;
	}
.department  .tab-content .btn {
    border-radius: 0;
    font-size: 16px;
    margin: 15px 5px;
    padding: 2px;
}
/* .department ul  li.active::before {
  border-color: rgba(0, 0, 0, 0.3) transparent;
  border-style: solid;
  border-width: 0 15px 23px;
  bottom: 100%;
  content: "";
  height: 0;
  position: absolute;
 right: 60%;
  width: 0;
  top: 115%;
} */
.department ul li.active::after {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 13px 20px;
  content: "";
  height: 0;
  position: absolute;
  right: 60%;
  width: 0;
  top: 115%;
}
/* .department ul  li.active::before{
    border-style: solid;
    border-width: 10px 0 20px;
    top: 91%;
    content: "";
    height: 0;
    position: absolute;
    right: 41%;
    width: 0;
	border-color:#fff;
}   */
 /* Department end */
 
 /* About US */
 .about_doctors .docs{
    margin-right: 5%;
    margin-top: 30px;
  margin-bottom: 30px;
    width: 28%;
	float:left;
}
 .about_doctors .docs h4 {
    display: block;
}
 .about_doctors .docs h4 span {
    display: inline-block;
    float: right;
}
  .about_doctors .docs .img-thumbnail{
  border:0px;
  padding:0px;
  margin:0;
  }
  .about_doctors .docs .img-thumbnail img{
  display:inline-block;
  }
  .about_doctors .docs  .caption h4 a{
 float: right;
  margin: 0 1px;
  color:#444;
  }
     .about_doctors  .docs{
	 padding:0px;
	 }
   .about_doctors  .docs .btn{
  margin-bottom:10px;
   }
   .about_doctors  .docs .name{
 left: -2px;
 padding: 10px 30px;
 position: absolute;
top: -44px;
  border-radius: 0;
   }
.about_doctors  .docs .icon {
 padding:5px;
}
.about_doctors  .docs .fa-facebook{
padding:5px 8px;
}
.about_doctors  .docs .caption{
margin-top:0px;
 padding:5px 15px;
}
.about_doctors  .docs p{
 margin-top:20px;
}
 .about_doctors  .docs .icon:hover{
 border-radius:50%;
	}

 /* About Us */
 
 /* ABout department */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
     outline:none !important;
     outline: none !important; 
     outline-offset: 0 !important; 
}
 .about-department .depart{
  margin:0;
 margin-top:40px;
 }
 .about-department .btn:after {
    content: "-";
    float: right;
	font-size:30px;
	font-weight:bold;
	margin:-40px 25px;
 }
  /* Icon when the collapsible content is hidden */
  .about-department .btn.collapsed:after {
    content: "+";
	margin:-40px 25px;
	font-size:30px;
	font-weight:bold;
  }
.depart .btn h4 {
    display: inline-block;
    width: 90%;
}
   .about-department .btn-lg{
  width:100%;
  text-align:left;
  padding:0;
  }
.about-department .collapsing{
	 padding:1% 5%;
}
.about-department .collapse.in{
	 padding:1% 5%;
	 display:inline-block;
	 border-left:1px solid #ccc;
	 border-right:1px solid #ccc;
  }
    .about-department .btn .icon{
    font-size: 30px;
    margin-right: 20px;
    padding: 10px;
    width: 50px;
	}
  /* Department end */
  
  /* Event Start */
.events .up-event .health-event{
margin-right: 8%;
width: 25%;
float:left;
}
.events .up-event .health-event:hover{
opacity:0.7;
}
.events .up-event .img-thumbnail{
padding:0;
border:0px;
}
.events .up-event .dates{
font-size:24px;
position:absolute;
width:60px;
padding-left:10px;
height:50px;
left: -45px;
}
.events .up-event .dates .num{
font-size: 18px;
    margin: 25px -30px;
    padding-bottom: 0;
    position: absolute;
}
.events .up-event .btn{
margin-bottom:10px;
}
  /* Event End */
  /* About Appoinment */
  .cover3{
  position:relative;
  z-index:1;
  }
  .cover3:before{
width:100%;
opacity:1;
height:100%;
z-index:-1;
content:"";
position:absolute;
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url(images/cover2.jpg) no-repeat fixed;
}
label{
width:100% !important;
}
.appoint #date_iso_format-label::before {
  content: "";
  font-family: FontAwesome;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 0;
}
.appoinment {
  height: auto;
  margin: 5% 0;
}
.about-appoinment .heading{
text-align:left;
font-size:48px;
}
.about-appoinment .mobile{
 left: 20%;
    position: absolute;
    top: 40px;
    width: 60%;
	text-align:center;
}
.about-appoinment .mobile .ln3{
border: 1px solid;
    left: 15%;
    margin-top: 20px;
    position: relative;
    right: 30%;
    width: 160px;
	}
.about-appoinment .mobile .heart {
    border-radius: 50%;
    font-size: 20px;
    left: 43%;
    margin-top: -11px;
    padding: 2px;
    position: absolute;
    text-align: center;
    z-index: 99;
}	
.about-appoinment .mobile form{
margin-top:40px;
}
.about-appoinment .mobile .form-control{
height:30px;
text-align:left;
}
.about-appoinment .mobile .form-group{
margin-bottom:10px;
}
.about-appoinment .mobile  .btn{
float:right;
padding:2px 20px;
}
.about-appoinment .mobile  #date_iso_format-label{
position:relative;
width:100%;
}
.about-appoinment .mobile #date_iso_format-label::before {
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 0px;
	
}
  /* About Appoinment */
 
/* About Doctors Start */
.about-desc blockquote{
margin-top:10px;
}
.about-desc .img-thumbnail{
border:0px;
}
.about-doctors .about-doctors-detail {
  margin: 0;
  padding: 0 15px 50px 15px;
}
.about-doctors .about-doc-details {
  margin-top: 50%;
  padding: 0;
}
.about-doctors .about-doc-details .img-thumbnail {
  background-color: transparent;
  border-bottom: 0;
  margin-top: -50%;
  padding: 30px;
  overflow:hidden
}
.about-doctors .about-doc-details .img-thumbnail:hover img {
  transform:scale(1.1);
  transition:all 1s ease 0.6s;
  }
.about-doctors .grid {
  margin: 50px 0;
}
.about-doctors .button-group{
margin:30px 0;
}
.about-doctors .button-group .button{
font-size:18px;
border:0px;
font-weight:bold;
padding: 0 3px;
}
.about-doctors .button-group .button .icon{
font-size:36px;
padding:5px;
width:50px;
margin-left:1%;
margin-top:40px;
text-align:center;
}
.about-doctors .button-group .button::after{
content:"+";
position:absolute;
font-size:30px;
 margin-left: -35px;
}
.about-doctors .button-group .button.is-checked::after{
content:"-";
position:absolute;
font-size:30px;
 margin-left: -35px;
}
.about-doctors .about-doc-details h3{
text-align:center;
}
.about-doctors .about-doc-link {
  text-align: center;
}
.about-doctors .about-doc-details .ln3{
border: 1px solid;
    margin-top: 15px;
    position: relative;
    width: 125px;
}
.about-doctors .about-doc-details .heart{
border-radius: 50%;
    font-size: 24px;
    left:50%;
    margin-top: -15px;
    padding: 2px;
    position: absolute;
    z-index: 99;
}
.about-doctors .about-doc-details p{
 margin-top: 10%;
}
.about-doctors .about-doc-details .social{
text-align:center;
padding:10px 0px;
}
.about-doctors .about-doc-details .social a{
 margin: 5px;
 padding: 2px 6px;
}
.about-doctors .about-doc-details .btn{
    padding: 3px 15px;
}
.about-doctors .about-doc-details .ln2 {
  margin-top: 40px;
  position: relative;
  width: 210px;
}
.about-doctors .about-doc-details .ln {
  border: 2px solid;
    left: 10%;
    margin-top: 10px;
    position: relative;
    width: 230px;
	}

.about-doctors .about-doc-details .view{
    border-radius: 50%;
    bottom: -5%;
	font-weight:bold;
    font-size: 18px;
    margin-left: 25%;
    padding: 15px 10px;
    position: absolute;
    text-align: center;
}
.about-doctors .about-doc-details .social a:hover{
border-radius:50%;
}

/* About Doctors End*/

/* about client */
.cover4 {
position:relative;
z-index:1;
}
.cover4:before{
width:100%;
height:100%;
position:absolute;
z-index:-1;
content:"";
opacity:1;
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url(images/client.png) no-repeat fixed;
}

 /* about client */
 /* about client say */
 .client{
 opacity:0.8;
 margin-top:40px;
 padding:50px 0px;
 }
 .client-say h2 {
  margin-top: 50px;
}
  .client .client-say .about-pics .img-thumbnail{
  border:0px;
  }
  .client .icon{
  font-size:72px;
  }
  .client .owl-theme .owl-controls .owl-page {
    float: right;
}
.client .owl-theme .owl-controls .owl-page span {
    border-radius: 20px;
    display: block;
    height: 13px;
    margin: 5px 7px;
    opacity: 1;
    width: 13px;
}
.client .owl-theme .owl-controls .owl-page.active span,
.client .owl-theme .owl-controls.clickable .owl-page:hover span {
    height: 14px;
    width: 14px;
}
.client .owl-theme .owl-controls .owl-buttons div {
    display: none !important;
}

/* about client say */

/* about appoinment */
.abt-appoinment{
margin:0px;
}
.abt-appoinment .appoinment h2 {
    font-size: 36px;
    margin: auto 0;
    text-align: center;
}
.abt-appoinment .appoinment .icon{
display: block;
font-size:60px;
}
.abt-appoinment .feed{
padding-top:50px;
}
.abt-appoinment .feed .form-group{
margin-bottom:50px;
}
.abt-appoinment .feed .form-control{
border-top:0px;
border-left:0px;
border-right:0px;
color:#fff;
}
.abt-appoinment .feed  textarea.form-control{
height:35px;
}
.abt-appoinment .feed .btn{
margin-bottom:35px;
}
.abt-appoinment .feed .form-control:focus{
box-shadow:none;
}
/* about appoinment */

/* Shortcode start */
.line{
width:80px;
position:relative;
top:10px;
left: 5px;
}
.masanary .line {
    top: 15px;
}
.shortcodes a{
border:1px solid #ccc;
}
.shortcodes .btn-lg{
padding:10px 20px;
margin:0px 5px;
}
.shortcodes .large,
.shortcodes .medium,
.shortcodes .small,
.process-bar .process{
margin-top:40px;
}
.alert .alert-box .icon{
 font-size: 24px;
  margin: 0 20px;
}
.alert-success,
.alert-info,
.alert-danger,
.alert-warning {
    color: #000;
}
.alert {
    margin: 0px !important;
    padding: 10px;
	font-size:16px;
}
.process-bar .process{
padding:20px 0;
}
.progress{
text-align:left;
height:7px !important;
margin-top:0px;
}
.progress-bar{
  -moz-animation-name: slideInLeft;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.9s;
	
	 -webkit-animation-name: slideInLeft;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.9s;

    animation-name: slideInLeft;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.9s;
}
@-moz-keyframes slideInLeft {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(00px);
    }
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(00px);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(00px);
    }
}
.progress-bar-success {
    height: 40px;
    margin: 20px 0;
    padding-top: 0px;
	font-size:18px;
	padding-left:20px;
	padding-right:20px;
	border-radius:5px;
}
.progress-bar-info {
   height: 40px;
    margin: 20px 0;
    padding-top: 0px;
	font-size:18px;
	padding-left:20px;
	padding-right:20px;
	border-radius:5px;
}
.progress-bar-warning {
   height: 40px;
    margin: 20px 0;
    padding-top: 0px;
	font-size:18px;
	padding-left:20px;
	padding-right:20px;
	border-radius:5px;
}
.progress-bar-danger {
   height: 40px;
    margin: 20px 0;
    padding-top: 0px;
	font-size:18px;
	padding-left:20px;
	padding-right:20px;
	border-radius:5px;
}
.process .alignleft{
float:none;
margin:0px;
 color: #fff;
}
 .process .alignright{
float:right;
margin:0px;
color:#fff;
}
/* Shortcodes End */

/* Tabs Start */
.health-dept .tabs .type{
margin-top:40px;
}
.health-dept .tabs .tab-content ul li{
font-size:18px;
list-style-type:none;
padding:15px 0;
}
.health-dept .tab-content >.active{
-moz-animation-name: slideInLeft;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.9s;
	
	 -webkit-animation-name: slideInLeft;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.9s;

    animation-name: slideInLeft;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}
.health-dept .show-data{
display:block !important;
-moz-animation-name: slideInLeft;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.9s;
	
	 -webkit-animation-name: slideInLeft;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.9s;

    animation-name: slideInLeft;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}
@-moz-keyframes slideInLeft {
    0% {
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
.tabs .tab-content ul li::before{
    content: "\f00c";
	font-family:"FontAwesome";
    font-size: 30px;
    left: 10px;
	margin-top:-5px;
    position: absolute;
}
.tabs .nav > li {
    margin: 0 0 0 5px;
	border-radius:0px;
}
.tabs .nav > li a{
padding:7px 30px !important;
}
.tabs .nav-tabs{
border-bottom:0px;
}
.tabs .tab-content .img-thumbnail{
border:0px;
}
/* Tabs end  */

/* Accordine Start */

.accordion .accordion-details h3 {
  margin: 0;
}
.accordion .accordion-details .type1,
.accordion .accordion-details .type2,
.accordion .accordion-details .type3,
.accordion .accordion-details .type4{
margin-top:20px;
margin-bottom:20px;
}
.accordion .accordion-details .type1  .btn-lg,
.accordion .accordion-details .type2  .btn-lg {
    padding: 10px 10px 10px 40px;
    text-align: left;
    width: 100%;
  border-radius:0 !important;
}
.accordion .accordion-details .type3  .btn-lg {
    padding: 10px 10px 10px 40px;
    text-align: left;
    width: 100%;
  border-radius:0 !important;
}
.accordion .accordion-details .type4  .btn-lg {
    padding: 10px 10px 10px 40px;
    text-align: left;
    width: 100%;
   border-radius:30px !important;
}
.accordion .accordion-details .type1 .btn.collapsed::after {
    content: "+";
    font-size: 30px;
    font-weight: bold;
	margin: -35px -25px;
}
.accordion .accordion-details  .type2 .btn.collapsed::after {
    content: "\f055";
	font-family:"FontAwesome";
    font-size: 30px;
    font-weight: bold;
	margin: -30px -30px;
}
.accordion .accordion-details .type3 .btn.collapsed::after {
    content: "+";
    font-size: 30px;
    font-weight: bold;
	margin: -35px -25px;
}
.accordion .accordion-details .type3 .btn::after {
    content: "-";
    float: left;
    font-size: 30px;
    font-weight: bold;
	margin:-35px -25px;
}
.accordion .accordion-details .type4 .btn.collapsed::after {
    content: "+";
    font-size: 30px;
    font-weight: bold;
	margin: -35px 10px;
}
.accordion .accordion-details .type4 .btn::after {
    content: "-";
    float: right;
    font-size: 30px;
    font-weight: bold;
	margin: -35px 10px;
}

.accordion .accordion-details .type1 .btn::after {
    content: "-";
    float: left;
    font-size: 30px;
    font-weight: bold;
	margin: -35px -25px;
}
.accordion .accordion-details .type2 .btn::after {
    content: "\f056";
	font-family:"FontAwesome";
    float: left;
    font-size: 30px;
    font-weight: bold;
	margin: -30px -30px;
}
.shortcodes-icons .icon1{
  border-radius: 50%;
  font-size: 36px;
  padding: 10px 20px;
  margin-top: 10px;
}
.shortcodes-icons .icon2{
 border-radius: 50%;
    font-size: 30px;
    margin-top: 10px;
    padding: 15px;
}
.shortcodes-icons .icon3 {
  border-radius: 50%;
    font-size: 30px;
    margin-top: 10px;
    padding: 15px;
}
.shortcodes-icons .left-icons,
.shortcodes-icons .right-icons,
.shortcodes-icons .center-icons{
margin-bottom:20px;
}
.shortcodes-icons .left-icons  .texts,
.shortcodes-icons .right-icons  .texts{
padding:0;
}
.shortcodes-icons .center-icons  .icon1,
.shortcodes-icons .center-icons  .icon2,
.shortcodes-icons .center-icons  .icon3{
margin-left:25%;
}
.shortcodes-icons .left-icons  .texts h3{
margin-top:10px;
}
.drop-caps p{
margin:30px 0;
}
.drop-caps .cap1,
.drop-caps .cap2,
.drop-caps .cap3 {
 float: left;
    font-size: 32px;
    height: 50px;
    margin: -5px 10px;
    text-align: center;
    width: 50px;
}
.drop-caps .round{
border-radius:50%;
}
/* Doctors Detail */
.doctors-pic .icon {
  font-size: 24px;
  margin: 0 4px;
  padding: 5px 3px;
  text-align: center;
  width: 30px;
}
.doctors-pic .social{
margin:10px 0;
}
.doctors-pic .detail{
margin:10px 0;
}
.doctors-pic .img-thumbnail{
border:0px !important;
}
.doctors-pic .detail span{
	display:block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0;
}
.about-doctors .process{
margin:0 !important;
}
 .doctors-pic .btn {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
}
.experience .exp{
margin:10px 0;
}
.doctors-details .exp1{
margin:15px 0 !important;
}
.experience .exp h4,
.experience .exp1 h4{
font-weight:bold;
}
.experience  .exp1 .time{
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 40px;
}
.experience  .exp1 .col-md-4{
padding:0 !important;
}
.experience  .exp1 .col-md-8{
 padding: 28px 0 50px 15px !important;
}
.experience  .exp h3,
.experience  .exp1 h3{
margin-left:10%;
font-weight:bold;
}
/* DOctors Detail */

/* Portfolio Detail */
.portfolio-pic .img-thumbnail{
border:0px !important;
}
.portfolio-pic  .detail span{
display:inline-block;
font-size:18px;
width:100%;
margin: 5px 0;
}
.portfolio-pic .detail .icon {
margin: 0 5px 0 15%;
  font-size:24px;
}
.portfolio-pic .btn{
font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
}
.portfolio-pic .icon{
font-size:18px;
}
.portfolio-details  .portfolio-pic{
margin:0px !important;
}
.portfolio-details .navi{
margin:0 !important;
padding: 0 25px;
}
.portfolio-details  .pager li.previous{
float:left;
border-radius:0px !important;
}
.portfolio-details  .pager li.next{
float:right;
border-radius:0px !important;
}
.portfolio-details .pager li > a,
.portfolio-details .pager li > span{
border-radius:0px !important;
}
.portfolio-details .type1,
.portfolio-details .type2,
.portfolio-details .type3{
margin:40px 0px  !important;
padding:1px 10px;
text-align:center;
}
.portfolio-details .type2{
padding:1px 10px;
}
.portfolio-details .related-post{
margin:0 !important;
}
.portfolio-details .related-post .owl-item .item {
  margin: 20px;
}
.port-item {
  padding: 5px !important;
}
.port-item:hover img {
  transform: scale(1.05);
  z-index: 1;
  transition:all ease 0.6s;
}
.portfolio-details .related-post .owl-theme .owl-controls  .owl-pagination {
display:none !important;
}
.portfolio-details .related-post .owl-theme .owl-controls .owl-buttons div {
  border-radius: 0;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  padding: 0 15px;
}
.portfolio-details .related-post .owl-carousel .owl-prev {
   float: left;
    height: 35px;
    left: 15px;
    position: absolute;
    top: 40%;
    width: 35px;
}
.portfolio-details .related-post .owl-carousel .owl-next {
  float: right;
  height: 35px;
  right: 15px;
  position: absolute;
  top:40%;
  width: 35px;
}
.single-text h1 {
  font-size: 36px !important;
}
/* Portfolio Detail */
/* Error */
.error{
text-align:center;
font-weight:bold;
}
.error h1{
font-size:138px;
}
.error h2{
font-size:78px;
}
.error p{
margin:40px 0;
}
.error .btn{
  font-size: 24px;
  padding: 5px 50px;
  text-decoration: underline;
  font-weight:bold;
}
/* Error */
@media(min-width:768px){
.navbar-right li:hover >.dropdown-menu{
display:block;
transition:all 1s ease 0.3s;
}
}
.abt-appoinment {
  margin: 0 !important;
}
.breadcrumb {
  background-color: transparent !important;
}
.breadcrumb li a{
	color:#fff;
}
.hc_tags a {
  background-color: transparent;
  border-radius: 0;
  padding:6px 12px;
  font-size:14px;
  margin:1px;
 display:inline-block;
}
.hc_tags {
  margin-top: 18px;
}
.hc_content img,
.hc_content .wp-caption{
max-width:100%;	
}
#home-deptts {
  list-style: outside none none;
  margin: 40px 0;
  padding: 0 10px;
}
.department .owl-carousel li{
list-style-type:none;
overflow:hidden;
text-align: center;
padding: 45px 0;
}
.department .owl-carousel li img{
transition:all 0.15s ease-in-out;
}
.department  li .img-thumbnail,
.department .nav-tabs  li a .img-thumbnail{
background-color:transparent;
color:#fff;
border:none !important;
}
.department ul li:hover .dept-icon,
.department ul li.active .dept-icon{
  background:rgba(0,0,0,0.8);
  }
.department  li .img-thumbnail,
.department .nav-tabs > li > a{
color:#fff;
text-align:center;
}
.department  li:hover .img-thumbnail{
  transform:scale(1.2);
  transition:all 1s ease 0.6s;
  }
.department .nav-tabs > li > a:focus, .department .nav-tabs > li > a:hover,
.department .nav-tabs > li.active > a, .department .nav-tabs > li.active > a:focus, .department .nav-tabs > li.active > a:hover{
background-color:transparent;
}
.department  li >  .img-thumbnail > img:focus, .department  li > .img-thumbnail > img:hover,
.department li.active > .img-thumbnail > img, .department  li.active > .img-thumbnail > img:focus, 
.department li.active > .img-thumbnail > img:hover,
.department .nav-tabs > li > a > .img-thumbnail > img:focus, .department .nav-tabs > li > a > .img-thumbnail > img:hover,
.department .nav-tabs >li.active > a > .img-thumbnail > img, .department .nav-tabs > li.active > a > .img-thumbnail > img:focus, 
.department .nav-tabs > li.active > a > .img-thumbnail > img:hover{
border:1px solid #fff;
color:#fff;
background-color:#000;
transform:scale(1.1);
}
.department .nav-tabs .active::after{
  border-color: #fff transparent;
 }
.department .owl-pagination{
display:none !important;
}
.department .owl-theme .owl-controls .owl-buttons div {
  font-size: 20px !important;
  font-weight: bold;
  opacity: 1;
  padding:0px !important;
  border-radius: 50% !important;
}
.department .owl-carousel .owl-prev {
  float: left;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 35%;
  width: 30px;

}
.department .owl-carousel .owl-next {
  float: right;
  height: 30px;
  right: 0px;
  position: absolute;
  top: 35%;
  width: 30px;
}
.department .owl-carousel li.active img ,
.department .owl-carousel li:hover img {
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
}

.tagcloud a {
  border: 1px solid #fff;
  padding: 2px 5px;
  margin: 2px ;
  display: inline-block;
  color: #fff !important;
  text-decoration:none;
}
.widget-footer ul {
  padding: 0 15px;
}
.widget-footer .menu {
  background-color: transparent;
}
#wp-calendar {
  width: 100%;
}
.sidebar-widget #wp-calendar th ,
.sidebar-widget #wp-calendar td {
  border: 1px solid #000 !important;
  color: #000 !important;
}
#wp-calendar th ,
#wp-calendar td {
  border: 1px solid #fff !important;
  color: #fff !important;
  padding: 5px;
  text-align: center;
}
.sidebar-widget #wp-calendar caption {
  border: 1px solid #000;
}
#wp-calendar caption {
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
}
.widget-footer #s, .sidebar-widget #s {
  background-color: transparent;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #444;
  display: block;
  float: left;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 80% !important;
}
.widget-footer #searchsubmit, .sidebar-widget #searchsubmit {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) url("images/magnifier.png") no-repeat scroll 0 0;
  border-color: #ccc #ccc #ccc -moz-use-text-color;
  border-image: none;
  border-radius: 0 !important;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  color: transparent;
  content: none;
  float: left;
  height: 34px;
  padding-top: 15px;
  width: 35px;
}
#searchform .screen-reader-text {
  display: none;
}
.sidebar-widget ul,
.sidebar-widget ol {
  list-style-type: none !important;
  padding: 0 15px;
}
.masonry-content {
  box-shadow: 0 1px 2px 3px #ccc;
  margin: 0 !important;
}
.pp_pic_holder .pp_social {
  display: none !important;
}
.sticky-head .navbar-brand img{
  margin: 0 !important;
}
#grid{
width:100%;
}
.grid-item { 
padding:0 !important; 
}
.grid-item  .overlay:hover{
opacity:.6;
}
.grid-item .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 30% 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
 }
 .grid-item   .overlay a {
  font-size: 24px;
  padding: 3px 15px;
  position: relative;
}
.sl-wrapper .sl-counter{
	display:none !important;
}
.related-members {
  margin: 0 !important;
  padding: 10px;
}
.related-members .img-thumbnail{
	padding:0;
	display:block;
	position:relative;
	border:0;
}
.related-members .overlay {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  color: #fff;
  height: 100%;
  padding: 20% 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  opacity:0;
  visibility:hidden;
}
.related-members:hover .overlay{
 opacity:1;
  visibility:visible;
  transition:all ease 0.6s;
}
.related-members .btn {
  border-radius: 30px;
  padding: 5px 10px;
}
.related-members .member_social{
	padding:0;
}
.related-members .member_social  a .icon {
  border: 1px solid;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  height: 30px;
  padding: 5px;
  text-align: center;
  width: 30px;
}
.rightside a {
  color: #000;
}
#related-members .owl-buttons div {
  border-radius: 50% !important;
  font-size: 20px !important;
  font-weight: bold !important;
  opacity: 1;
  padding: 0;
}
#related-members .owl-prev {
  float: left;
  height: 30px;
  left: 0;
  position: absolute;
  top: 35%;
  width: 30px;
}
#related-members .owl-next {
  float: right;
  height: 30px;
  right: 0;
  position: absolute;
  top: 35%;
  width: 30px;
}
.deppt-single {
  margin-bottom: 40px;
}
.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-close {
  font-size: 72px;
}
.scrol{
width:40px;
height:40px;
position:fixed;
bottom:43px;
right:50px;
opacity:0.8;
background-color:#000;
color:#fff;
text-align:center;
font-size:30px;
z-index:9999;
}
.scrol:hover{
color:#fff;
}
.byline > a {
  color: #444;
  font-weight: bold;
}
.flickr-container {
  display: inline-block;
  padding: 20px 15px;
}
.flickr_badge_image {
  display: inline-block;
  margin: 5px;
}
.sidebar-widget img{
  width:100%;
  height:auto;
  }
.post-categories {
  display: inline-block !important;
  list-style: outside none none;
  padding: 0 5px;
}
.post-categories li{
  display: inline-block;
  }
/* Thumbnail Class */
@media (min-width:768px){
.home_post_thumb{
  max-height:350px !important;
  }
.single_post_thumb{
  max-height:300px !important;
  }
.mesonry_post_thumb{
  max-height:200px !important;
  }
.related_post_thumb{
  max-height:200px !important;
  }
.recent_blog_img{
    height:50px !important;
    }
}
.sidebar-widget .flickr_badge_image {
  display: inline-block;
  margin: 1px;
  width: 32%;
}
.error{
	color:red;
	text-align:center;
}
.result p {
  color: green;
  text-align: center;
}
.about-doc {
  margin-top: 20px;
}
.home-docs .element-item{
	display:none;
}
.home-docs .element-item.hc_display{
	transition:all 1s ease .6s;
	animation-name:zoomInUp;
	display:block !important;
	
}
.hc_content .hc_btn {
  margin: 0 5px !important;
  border-radius:0;
}
/* woocommerce */
.woocommerce .quantity .text{
	padding:0;
}
.woocommerce .comment_container img {
  float: left !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  max-width: 60px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
	margin:0 !important;
}
.woocommerce div.product form.cart .button {
  float: right !important;
}
/* vertical portfolio */
.portfolio .port-vertical{
  margin:0 !important;
  }
.portfolio .port-vertical .button{
  margin-bottom:5px;
  display:block;
  width:100%;
  }
  .home_testi,
  .hc_homedept,
.hc_homeblog,
.hc_homegallery,
.hc_homeclient,
.about_testi,
.hc_relatedports,
.hc_relatedposts{
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.hc_homeclient{
 padding-bottom: 30px;
}
.swiper-container-horizontal > .swiper-pagination{
	bottom:0;
}
 .swiper-button-prev,
 .swiper-button-next {
  background-size: 15px 25px !important;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  opacity:0.6;
}
.hc_homeblog .swiper-button-prev,
.hc_homeblog .swiper-button-next{
	border-radius: 0 !important;
}

.swiper-button-disabled{
	display:none;
}
/*Fetch from Color CSS */
.menu{
background-color:#fff;
}
.navbar-toggle{
background-color:transparent;
border:1px solid #ccc;
}
.navbar-toggle .icon-bar{
background-color:#000;
}
.carousel-control .glyphicon-chevron-left:hover, .carousel-control .glyphicon-chevron-right:hover, .carousel-control .icon-next:hover, .carousel-control .icon-prev:hover{
background-color:#333;
}
.health-dept .btn ,
  .health-dept .btn:hover{
  color: #fff !important;
}
.slider-caption{
background-color:rgba(0, 0, 0, 0.65);
border-left:5px solid;
}
.text .link{
    color:#fff !important;
}

.doctors .img-thumbnail .overlay button {
  background-color: #fff !important;
}
.testimony{
    color: #fff !important;
}
.testimony blockquote{
    color: #fff !important;
}
.swiper-pagination-bullet{
    background-color:#fff !important;
   opacity:1; !important
}

.news .owl-theme .owl-controls .owl-page span{
  background:#000;
} 

.news   .overlay  a,
.gallerys .overlay  a,
 .sidebar-widget .pics .overlay a,
 .rightside .right-widget .img-thumbnail  .overlay a,
 .masanary .masanary-pic  .img-thumbnail .overlay a,
 .rightside .blog-desc .img-thumbnail   .overlay a,
 .rightside .posts .img-thumbnail .overlay a,
 .portfolio .element-item .overlay a,
 .doctors  .img-thumbnail .overlay a{
color:#fff !important;
border:1px solid #fff !important;
}

.news .overlay a:hover,
.gallerys  .overlay a:hover,
 .sidebar-widget .pics .overlay a:hover,
 .rightside .right-widget .img-thumbnail .overlay a:hover,
 .masanary .masanary-pic  .img-thumbnail .overlay a:hover,
 .rightside .blog-desc .img-thumbnail .overlay a:hover,
 .rightside .posts .pics .img-thumbnail .overlay a:hover,
 .portfolio .element-item .overlay a:hover,
 .doctors  .img-thumbnail .overlay a:hover{
border:1px solid #fff !important;
}
 .sidebar-widget .col-xs-4  .overlay a,
 .sidebar-widget .col-xs-3 .overlay a,
 .widget-footer  .overlay  a{
 color:#fff !important;
 }
.gallerys .overlay .ln{
border: 1px solid #fff !important;
}
.appoinment .form-control {
background-color:transparent;
}
.footer .widget-footer hr{
border:1px solid #ccc;
}
.widget-footer span{
	color:#fff !important;
	font-size:20px
}
.sidebar-widget .nav a{
color: #666;
}
.sidebar-widget .nav .divider {
    border: 1px solid #ddd;
}	
.sidebar-widget .nav .badge, .recent .tab-content .badge{
    background-color: transparent;
    color: #666;
}
.space .pagination a{
	background-color: transparent ;
    color: #000;
}

.who .about-pic .img-thumbnail{
background-color:transparent;
}
.about-appoinment .mobile .form-control{
background-color:transparent;
}
.avatar {
  border-radius: 50%;
}
.feedback  form .btn{
color:#fff;
}
.portfolio .button{
background-color:transparent;
}
.portfolio .element-item .overlay .ln{
 border: 1px solid #fff;
}
.contact .pic .img-thumbnail{
background-color: transparent;
}
#name-label:before ,
#email-label:before,
#phone-label:before,
#message-label:before,
#search-label:before {
    color: #666;
}
#date_iso_format-label:before {
   color: #fff;
}
 .emergency .ln{
 border:1px solid #fff;
 }
.who .about{
color:#fff;
}
.who .about p{
color:#fff;
}
.doctors .button{
background-color:transparent;
}
.doctors   .img-thumbnail  .overlay .btn{
background-color:#fff;
}
.doctors  .img-thumbnail  .overlay a{
color:#fff;
}
.medical .icons .icon{
	border: 10px solid #fff;
    color: #fff;
}
 .department .nav-tabs  li a .img-thumbnail{
background-color:transparent;
color:#fff;
}
.department .nav-tabs > li > a{
color:#fff;
}
.department .nav-tabs > li > a:focus, .department .nav-tabs > li > a:hover,
.department .nav-tabs > li.active > a, .department .nav-tabs > li.active > a:focus, .department .nav-tabs > li.active > a:hover{
background-color:transparent;
}
.department .nav-tabs > li > a > .img-thumbnail > img:focus, .department .nav-tabs > li > a > .img-thumbnail > img:hover,
.department .nav-tabs >li.active > a > .img-thumbnail > img, .department .nav-tabs > li.active > a > .img-thumbnail > img:focus, 
.department .nav-tabs > li.active > a > .img-thumbnail > img:hover{
border:1px solid #fff;
color:#fff;
background-color:#000;
}
.department .nav-tabs .active::after{
  border-color: #fff transparent;
 }
.department .tab-content .col-md-4 .icon {
    background-color: transparent;
}
.department  .tab-content .btn {
    color: #fff;
}
.btn,
.hc_tags a{
border-radius:0px;
}
.hc_tags a:hover{
color:#fff !important;
}
.top{
color:#fff;
background-color:#000;
}
.text{
background-color:#333;
color:#fff;
}
.color{
background-color:#fff;
}
.slider .carousel-caption p{
color:#fff;
}
.white{
color:#fff;
}
.news .btn,
.news .btn:hover{
color:#fff;
  }
.border{
border:1px solid #ccc;
}
.news .overlay  a{
color:#fff;
border:1px solid #fff;
}
.news .overlay a:hover{
background-color:#eee !important;
}
  .gallerys .overlay .port-title,
  .portfolio .element-item .overlay .port-title{
    color:#fff;
  border:0px solid #fff !important;
  }
   .gallerys .overlay .port-title:hover,
   .portfolio .element-item .overlay .port-title:hover{
    background-color:transparent !important;
    color:#fff !important;
    border:0px solid #fff !important;
  }
  .gallerys .overlay  a:hover{
  background-color:#eee;
  }
 
  .clients .owl-theme .owl-controls .owl-page span{
  background:#000;
  opacity:0.9;
  }
  .footer{
background-color:#333;
}
.footer .widget-footer h3{
color:#fff;
}
.footer .widget-footer h4 a,
.footer .widget-footer h5 a{
color:#999c9e;
}
.footer .widget-footer h4 a:hover ,
.footer .widget-footer h5 a:hover{
color:#fff;
}
.footer .widget-footer p{
color:#999c9e;
}
.footer .widget-footer a{
color:#fff;
}
.footer .widget-footer a:hover{
}
 .footer-bottom{
background-color:#000;
color:#fff;
}
.footer-bottom a{
color:#fff;
    text-decoration !important;
}
.sidebar-widget .tagcloud a {
  color: #000 !important;
}
.sidebar-widget .tagcloud a:hover{
  color: #fff !important;
}
.sidebar-widget .nav a:focus,
.sidebar-widget .nav a:hover{
	background-color:transparent;
	border:0px;
}
.sidebar .recent .nav li a{
	color:#fff;
	border-bottom:1px solid #fff;
	}
.rightside .btn:hover{
color:#fff;
}

  .sidebar .recent .nav-tabs > li.active > a,
  .sidebar .recent .nav-tabs > li.active > a:focus,
  .sidebar .recent  .nav-tabs > li.active > a:hover,
  .sidebar .recent .nav-tabs > li a:hover {
	background-color:#fff !important;
	}
.bg{
color:#fff;
}
.bg:hover{
color:#fff !important;
}
.space .pagination a:hover{
color:#fff;
}
.posts{
margin:20px 0px;
}
.services .service a .icon{
padding:1px 8px !important;
}
.services .service a:hover .icon{
color:#fff;
}
.services .service4 a .icon{
padding:1px 8px !important;
}
.services .service4 a:hover .icon{
color:#fff;
}
.portfolio .button{
color:#000;
}
.portfolio .button:hover,
.portfolio .button-group .button.is-checked{
color:#fff;
}
.portfolio .element-item .overlay a:hover{
background-color:#eee;
}
.appoinment .form-control{
color:#fff;
}
.appoinment .form-control::-moz-placeholder{
color:#fff !important;
}
.appoinment .form-control::-webkit-input-placeholder{
color:#fff !important;
}
.appoinment .btn{
background-color:#eee;
color:#000;
}
.doctors .button:hover,
.doctors .button-group .button.is-checked{
color:#fff;
}
 .medical .icons .icon:hover{
border:10px solid rgba(0,0, 0 , 0.5);
}
.white1{
background-color:#fff;
color:#000 !important;
}
.orange{
background-color:#FFB547;
color:#fff !important;
}
.purpul{
background-color:#AD5CFF;
color:#fff !important;
}
.blue{
color:#fff !important;
}
.red{
background-color:#FF3030;
color:#fff !important;
}
.pink{
background-color:#E678A3;
color:#fff !important;
}
.green{
background-color:#7EDF7E;
color:#fff !important;
}
.aqua{
background-color:#8DE2FF;
color:#fff !important;
}
.green1{
background-color:#19A319;
color:#fff !important;
}
.yellow{
background-color:#FFFF75;
 color:#fff !important;
}
.black{
background-color:#000;
color:#fff !important;
}
.brown{
background-color:#753D02;
color:#fff !important;
}
.grey{
color:#bbb;
}
.doctors  .img-thumbnail .overlay a:hover{
background-color:#fff;
}
.doctors  .img-thumbnail .overlay .btn:hover{
color:#fff !important;
border:1px solid #fff !important;
}
.contact .btn{
color:#fff;
}
.about-desc .btn:hover{
color:#fff;
}
.abt-appoinment .feed{
background-color:#000;
color:#fff;
}
  .about_doctors  .docs .btn{
   color:#fff;
   }
   .about_doctors  .docs .icon:hover{
	background-color:transparent;
	color:#fff;
	border:1px solid #fff;
	}
	.about_doctors .docs:hover .btn{
	background-color:#fff !important;
	}
.about_doctors  .docs:hover .caption, 
.about_doctors  .docs:hover p,
.about_doctors  .docs:hover a,
.about_doctors .docs:hover .name{
	color:#fff !important;
}
.about-department .depart{
  border-bottom:1px solid #ccc;
 }	
  .about-department .btn.collapsed:after {
	color:#000;
  }
.about-department .btn-lg{
   color:#333;
  border:1px solid #ccc;
  border-bottom:0px solid #ccc;
  background-color:transparent;
  }
 .accordion-details .collapsing{
	border:1px solid #ccc;
}
 .accordion-details .collapse.in {
  border: 1px solid #ccc !important;
 border-top:none !important;
  padding: 10px;
}
 .accordion .accordion-details .type4 .collapsing{
	border:0px;
}
 .accordion .accordion-details .type4 .collapse.in{
  border-left:0px;
  border-right:0px;
  }
   .about-department .btn .icon{
    color: #fff;
}
.events .up-event .dates{
color:#fff;
}
.events .up-event .btn{
color:#fff;
}
.about-appoinment{
color:#fff;
}
.about-appoinment .img-thumbnail{
background-color:transparent;
border:0px;
}
.about-appoinment .mobile .form-control{
background-color:transparent;
}
.about-appoinment .mobile  .form-control::-moz-placeholder{
    color: #fff !important;
    opacity: 1;
}
.about-appoinment .mobile  .form-control::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}
.about-appoinment .mobile  .btn{
background-color:#fff;
}

  
.about-doctors .about-doc-details .img-thumbnail,
.about-doctors .button-group .button{
background-color:transparent;
}
.about-doctors .button-group .button.button.is-checked .icon{
background-color:#fff;
}
.about-doctors .button-group .button .icon{
color:#fff;
}
.about-doctors .about-doc-details .social a{
color:#fff;
}
.about-doctors .about-doc-details .btn{
background-color:#eee;
}
.about-doctors .about-doc-details p{
color:#fff;
}
.about-doctors .about-doc-details .view {
  background-color: #ddd;
  color: #444;
}
  .about-doctors .about-doc-details .ln2,
  .about-doctors .about-doc-details h3{
    color:#fff;
    }
.about-doctors .about-doc-details .social a:hover{
border:1px solid #fff;
}
.about-doctors .about-doc-details:hover .btn{
background-color:#eee;
}
.about-doctors .about-doc-details:hover .img-thumbnail{
border:0px;
}
.client{
 color:#fff;
 }
.client p{
 color:#fff;
 }
  .client .client-say .about-pics .img-thumbnail{
  background-color:transparent;
  }
.abt-appoinment .appoinment h2{
color:#fff;
}
.abt-appoinment .feed .form-control{
background-color:transparent;
border-bottom:1px solid #ccc;
}
.form-control::-moz-placeholder{
    color: #ccc !important;
    opacity: 1;
}
.form-control::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}
.abt-appoinment .feed .btn{
background-color:#fff;
}
.blockquote h5{
font-weight:bold;
}
.blockquote blockquote{
border-left:5px solid #ccc !important;
}
.blockquote .type2{
border-right:5px solid #ccc !important;
border-left:0px !important;
text-align:right;
}
.blockquote .type1{
border:2px solid #ccc !important;
}
.shortcodes-icons .icon1 {
  background-color: #c95bd3;
   color: #fff;
}
.shortcodes-icons .icon2 {
  background-color: #64cb66;
   color: #fff;
}
.shortcodes-icons .icon3 {
  background-color: #e8b56d;
   color: #fff;
}
.drop-caps .grey{
background-color:#ccc;
color:#fff;
}
.doctors-pic .icon {
  border: 1px solid #666;
  color:#666;
}
.doctors-pic .btn{
background-color:#fff;
}
.progress{
background-color:#BDDBF5;
}
.progress-bar{
background-color:#fff;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-bar-info {
 background-color: #5bc0de;
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-bar-danger {
  background-color: #d9534f;
}
.tabs  .tab-content ul li::before{
 background-color: transparent;
}
.tabs .nav > li a{
color:#fff;
}
.tabs .nav-tabs > li.active > a,.tabs  .nav-tabs > li.active > a:focus, .tabs .nav-tabs > li.active > a:hover {
background-color:transparent;
}
.tabs .nav > li a:hover{
color:#fff;
}
.accordion .accordion-details .type1  .btn-lg,
.accordion .accordion-details .type2  .btn-lg {
	background-color:#eee;
	border:1px solid #ccc !important;
	color:#000;
}
.accordion .accordion-details .type3  .btn-lg {
	border:1px solid #fff;
	color:#fff;
}
.accordion .accordion-details .type4  .btn-lg {
	border:1px solid #fff;
	color:#fff;
}
.accordion .accordion-details  .type3 .btn.collapsed::after {
    color: #fff;
}
.accordion .accordion-details  .type4 .btn.collapsed::after {
    color: #fff;
}
.accordion .accordion-details .btn.collapsed::after {
    color: #000;
}
.experience .exp{
border-bottom:1px solid #ccc;
}
.experience  .exp1 .time{
border-bottom: 1px solid #fff;
}
.portfolio-details .type2{
border:1px solid #333;
}
.error .btn {
  color: #fff;
 }
 .exp1 blockquote{
background-color:#eee;
}
.portfolio-pic  .btn{
background-color:#fff;
}
.portfolio-pic  .btn:hover{
color:#fff !important;
}
.portfolio-details .pager li > a:hover,
.portfolio-details .pager li > a:focus{
color:#fff;
}
.portfolio-details .related-post  .overlay a {
  border: 1px solid #fff;
  color: #fff;
}
.portfolio-details .related-post  .overlay a:hover {
  background-color:#fff;
}
.masanary-pic .overlay a:hover {
    background-color: #fff !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	color:#fff !important;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
	background-color:#fff !important;
}
  .pic .pics .overlay a:hover{
   	background-color:#fff !important;
  }
  .btn.theme-color{
    color:#fff !important;
    }
.about_doctors .docs .name{
  background-color:#fff !important;
  }
.about_doctors .docs:hover .btn.name{
  color:#fff !important;
  }
.anchor{
  display: block;
  height: 90px; /*same height as header*/
  margin-top: -90px; /*same height as header*/
  visibility: hidden;
}
  
.right-widget .img-thumbnail .overlay a:hover{
	background-color:#fff !important;
}
.pics  .img-thumbnail{
 border: 2px solid;
}
.wp-caption-text{
font-size:16px;
font-weight:bold;
padding-bottom:5px;
}
.gallery-caption{
font-weight:100;
border-top:1px solid #ccc;
padding:0 5px;
word-wrap: break-word;
}
.bypostauthor {
}