a{
	outline:none !important;
}
#wpcontent {
  background-color: #54364a !important;
  background-image: url("../images/a.jpg") !important;
  background-size: cover;
  height:100%;
}
#spa_general  .row{
	margin:0 !important;
	padding:0 15px !important;
}
.support{
padding:0;
}
.top{
background:rgba(84, 54, 74, 0.5);
color:#fff;
border-bottom:1px solid rgba(0, 0, 0, 0.25);
}
.search1{
padding-top:20px;
text-align:right;
}
.search1  a{
padding:0 20px 0 0 ;
color:#fff;
font-size:16px;
}
.search1  a:hover{
color:#fff;
text-decoration:none;
}
.search1 form .form-control{
background-color:transparent;
color:#fff;
height: 30px;
}
.left-sidebar{
margin:0;
}
.menu{
padding:0;
height:100%;
}
.left-sidebar h1{
margin:0;
padding:10px 15px;
background:rgba(84, 54, 74, 0.50);
color:#fff;
}
.left-sidebar .option{
padding:0;
}
/* .left-sidebar .tab-content{
padding-top:20px;
} */
.left-sidebar #spa_general .option .nav-tabs{
padding:0 15px;
 margin: 20px 20px 0 20px;
 border-bottom:1px solid rgba(0, 0, 0, 0.25);
 background: rgba(84, 54, 74, 0.7);
  width: 97% !important;
}
.left-sidebar #spa_general .option {
  background: rgba(84, 54, 74, 0.5) none repeat scroll 0 0;
  margin: 50px -10px;
  padding: 0;
}
.left-sidebar #spa_general .option .tab-content .tab-pane {
  background: rgba(84, 54, 74, 0.5) none repeat scroll 0 0;
  color: #fff;
  height: auto;
  margin: 0 20px 15px;
  padding: 0 20px;
  position: relative;
 
}

.left-sidebar #spa_general .option .nav-tabs > li.active > a,
.left-sidebar #spa_general .option .nav-tabs > li.active > a:focus,
.left-sidebar #spa_general .option .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: rgba(0, 0, 0, 0.25) !important;
  border-color: 0px !important;
  border-image: none;
  border-style: solid;
  border-width: 0px;
  color: #fff !important;
  cursor: default;
}
.left-sidebar #spa_general .option  .btn{
background-color:transparent;
color:#fff;
border:1px solid #fff;
}
/* .left-sidebar #spa_general .option .nav li a:hover,
.nav li a:focus{
background-color:rgba(0, 0, 0, 0.3);
color:#fff;
} */
.panel-group {
  padding: 0;
}
.panel-default{
margin:0 25px;
list-style-type:none;
background: rgba(84, 54, 74, 0.5);
}
.panel-default a{
text-decoration:none;
}
.panel-default.active{
margin:16px 0;
}
.nav-tabs{
background:rgba(84, 54, 74, 0.5);
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active, .pill-content > .active {
  display: inline-block !important;
  height: auto !important;
  margin-left: 0;
  padding: 0 20px !important;
  position: relative !important;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 0px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.restore .btn{
border-radius:30px;
background-color:#fff !important;
color:#54364a !important;
float:right;
padding:5px 30px;
}
.restore-footer .btn{
 margin: 20px 5px;
 background-color:#fff !important;
	color:#54364a !important;
 }
 .restore-footer .pager{
 text-align:right;
 }
 .restore-footer .pager a{
 color:#54364a !important;
 }
.tabs-left > .nav-tabs > li > a {
  margin-right: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.left-sidebar .tabs-left > .nav-tabs {
  border-right:1px solid rgba(0, 0, 0, 0.25);;
  float: left;
  margin-right: 10px;
  width: 15%;
   min-height: 800px;
}
 .user-details {
  padding: 10px;
  text-align: center;
  color: #fff;
}

.left-sidebar .nav-tabs li:hover .icon{
	transition:all 0.6s ease 0.6s;
	transform:rotate(360deg);	
}
.nav > li > a {
  padding: 10px !important;
  color:#fff !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-color: rgba(0, 0, 0, 0.3) !important;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff !important;
  cursor: default;
}
.left-sidebar .nav-tabs li.active ul li{
	background-color:rgba(0, 0, 0, 0.3);
}
.left-sidebar .nav-tabs li.active ul li a{
	color:#fff !important;
	border:none;
	padding:10px 30px;
}
.nav li a:hover,
.nav li a:focus{
background-color:rgba(0, 0, 0, 0.3) !important;
color:#fff !important;
}
.left-sidebar .nav-tabs li.active ul li.active a,
.left-sidebar .nav-tabs li.active ul li:focus a{
	color:#000 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
}
.user-details .profile-pic img{
	margin:5px auto;
}
.collapsible-body{
	display:none;
}
.collapsible-header.active .collapsible-body{
	display:block;
	transition: all 0.6s ease 0.6s;
}
input{
color:#000;
}
textarea{
width:100%;
}
.form-control{
background-color:transparent !important;
color:#fff !important;
}
.form{
margin:30px 0 20px 0;
}
.Switch.Round {
  border-radius: 40px;
  padding: 0px 35px;
}
.Switch {
  background: #ececec none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 34px;
  padding: 6px 6px 5px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  margin-left: -10px;
  margin-top:-15px;
}
.Switch.Round.Off .Toggle {
  background: #54364a none repeat scroll 0 0;
  left: 3%;
}
.Switch.Round .Toggle {
  border-radius: 40px;
  height: 30px;
  width: 30px;
}
.Switch .Toggle {
	position: absolute;
	top: 1px;
	width: 37px;
	height: 25px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background: #fff;
	background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: linear-gradient(top, #ececec 0%, #ffffff 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
	z-index: 999;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}
.Switch span.On { color: #33d2da; }


output { 
  position: absolute;
  background-image: linear-gradient(#54364a, #84607a);
  width: 40px; 
  height: 35px; 
  text-align: center; 
  color: white !important; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 30%;
  left: 0;
}
output:after { 
  content: "";
  position: absolute; 
  width: 0;
  height: 0;
  border-top: 10px solid #84607a;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
form {
  margin: 0;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}
.add-more  .btn {
  background-color: #fff !important;
  border-radius: 30px;
  color: #54364a !important;
  float: right;
  padding: 5px 30px;
}
.footer {
  background: rgba(84, 54, 74, 0.5) none repeat scroll 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer span{
font-size:18px;
}
.footer a{
color:#54364a;
text-decoration:none;
}
.no-pad{
padding:0 !important;
}
.color-code{
display:inline-block;
list-style-type:none;
}
.color-code li{
float:left;
margin:5px;
}
.social-media{
margin:20px 0;
}
.button.right ,
.button.left{
  margin-right: 10px;
  border-radius: 30px;
}
.wp-img{
	width:auto !important;
	float:left !important;
}
.upload_image_button{
	width:auto !important;
	float:right !important;
}

.restore {
  margin: 10px 0;
}
.weblizar_settings_loding {
  background: rgba(0, 0, 0, 0) url("../images/pageloader.gif") no-repeat scroll 0 0;
  display: none;
  font-size: 20px;
  height: 200px;
  left: 50%;
  padding: 23px 6px 10px 52px;
  position: fixed;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 200px;
  z-index: 9999;
}
.weblizar_settings_massage {
  background: rgba(58, 58, 58, 0.8) url("../images/happy.png") no-repeat scroll 13px 23px;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  box-shadow: 0 5px 30px #3a3a3a;
  color: #ffffff;
  display: none;
  font-size: 20px;
  font-weight: bold;
  height: 65px;
  left: 50%;
  padding: 23px 6px 10px 52px;
  position: fixed;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: auto;
  z-index: 9999;
}
.weblizar_settings_massage {
  background: rgba(58, 58, 58, 0.8) url("../images/happy.png") no-repeat scroll 13px 23px;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  box-shadow: 0 5px 30px #3a3a3a;
  color: #ffffff;
  display: none;
  font-size: 20px;
  font-weight: bold;
  height: 65px;
  left: 50%;
  padding: 23px 6px 10px 52px;
  position: fixed;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: auto;
  z-index: 9999;
}
.hc_range{
	float:left;
	width:60% !important;
}
.hc_text{
	float:left;
	width:20% !important;
}
/* Bootstrap Toggle */
/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}

.btn-default {
  background-color: #fff !important;
  border-color: #ccc !important;
  color: #333 !important;
}
.btn-off.active {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}
.farbtastic{
	z-index:1;
}
@media (max-width:768px){
	.left-sidebar .upload_image_button{
		float:left !important;
	}
	input{
		margin-bottom:5px !important ;
	}
	.left-sidebar #spa_general .option .nav-tabs {
  width: 90% !important;
}
}
.hc_active {
  border: 2px solid #ccc;
  box-shadow: 0 0 7px #fff;
}
.tooltip{
	background-color:transparent;
	border:none !important;
	width:auto !important;
}
.tt-icon {
  font-size: 24px !important;
  color: #fff;
}
.tooltip-inner{
	max-width:none !important;
}
.color-control {
  border-radius: 6px;
  height: 30px;
  padding: 3px;
  border:1px solid #fff;
}