a{
text-decoration:none;
color:#000;
}
a:hover{
text-decoration:none;
}
p{
color:#666;
}
.menu{
background-color:#fff;
}
.breadcrumb li a:hover{
	color:#0098ff;
}
.navbar-brand:hover{
	color:#0098ff;
}
.navbar-toggle{
background-color:transparent;
border:1px solid #ccc;
}
.navbar-toggle .icon-bar{
background-color:#000;
}
.navbar-collapse .navbar-nav li a:hover::before, .navbar-collapse .navbar-nav li a:focus::before,
.navbar-collapse .navbar-nav > .active > a:focus::before, .navbar-collapse  .navbar-nav > .active > a:hover::before{
	color:#0098ff;
} 

.nav > li > a{
color:#000;
}
.dropdown-menu li{
border-bottom:1px solid #ddd;
}
.dropdown-menu .divider{
border:0px solid rgba(0, 0, 0, 0.1);
}
.top a:hover{
    color:#0098ff !important;
}

/* .navbar-nav li ul.sub-menu li:hover{
background-color:#0098ff;
}
.navbar-nav li ul.sub-menu li a:hover{
color:#fff;
} */
/* ul.sub-menu .divider{
border:1px solid rgba(0, 0, 0, 0.1);
}
ul.sub-menu::before{
border-color: rgba(0, 0, 0, 0.14) transparent;
}
ul.sub-menu::after{
  border-color: #fff transparent;
}  */
.dropdown-menu{
border:1px solid #ccc;
}
.dropdown .dropdown-menu::before {
border-color: rgba(0, 0, 0, 0.3) transparent;
}
.dropdown .dropdown-menu::after{
  border-color: #fff transparent;
} 
.dropdown .dropdown-submenu .dropdown-menu::after{
  border-color: #fff transparent;
}  
.dropdown .dropdown-submenu  .dropdown-menu::before {
  	border-color: rgba(0, 0, 0, 0.3) transparent;
}
.navbar-collapse .navbar-nav > .active > a, .navbar-collapse .navbar-nav > .active > a:focus, .navbar-collapse  .navbar-nav > .active > a:hover {
    background-color: #fff;
	color: #0098ff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #0098ff;
}
.navbar-collapse .navbar-nav > li > a:focus, .navbar-collapse .navbar-nav > li > a:hover{
	background-color:#fff;
	color:#0098ff;
}
.dropdown-menu > li > a:hover{
background-color:#0098ff;
color:#fff;
}
.about-doctors .button-group .button.button.is-checked .icon{
  background-color:#fff;
color:#0098ff;
  border:1px solid #0098ff;
  }
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
background-color:#fff;
color:#0098ff;
}
.dropdown-menu  .open > a, .dropdown-menu  .open > a:focus, .dropdown-menu  .open > a:hover{
background-color:#0098ff;
color:#fff;
}
.dropdown-submenu:hover>a:after{
border-left-color:#555;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
background-color:#0098ff;
}
 .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
background-color:#0098ff;
}
.carousel-control .glyphicon-chevron-left:hover, .carousel-control .glyphicon-chevron-right:hover, .carousel-control .icon-next:hover, .carousel-control .icon-prev:hover{
background-color:#333;
}
.slider-caption{
background-color:rgba(0, 0, 0, 0.65);
border-left:5px solid #0098ff;
}
.carousel-caption .btn{
background-color:#0098ff;
}
.carousel-indicators li{
border: 1px solid #0098ff;
}
.carousel-indicators .active{
background-color:#0098ff;
}
.text .link{
    background-color: #0098ff;
    color:#fff;
}
.health-dept .btn{
  background-color:#0098ff;
  color:#fff;
 }  
.health-dept .btn:hover{
  background-color:#0098ff;
  color:#fff;
 }  
.testimony{
    background-color: #0098ff;
    color: #fff;
}
.testimony blockquote{
    color: #fff;
}
.swiper-pagination-bullet{
    background-color: #fff;
}
.swiper-pagination-bullet-active{
	background-color: #0098ff;
    border: 1px solid #fff;
}
.news   .owl-theme .owl-controls .owl-buttons div{
  background-color:#0098ff;
  }
.news .owl-theme .owl-controls .owl-page.active span, .news .owl-theme .owl-controls.clickable .owl-page:hover span{
  background-color: #0098ff;
  }
.news .owl-theme .owl-controls .owl-page span{
  background:#000;
} 
.news .overlay,
.gallerys  .overlay,
.widget-footer .overlay,
.widget-footer .col-xs-4 .overlay,
.sidebar-widget .col-xs-3 .overlay,
 .sidebar-widget .pics .overlay,
 .sidebar-widget .col-xs-4 .overlay,
 .rightside .right-widget .img-thumbnail  .overlay,
 .masanary .masanary-pic .img-thumbnail .overlay,
 .rightside .blog-desc .img-thumbnail  .overlay,
 .rightside .posts .owl-carousel .img-thumbnail .overlay,
 .portfolio .element-item .overlay,
 .doctors  .img-thumbnail .overlay,
 .portfolio-details .related-post .overlay,
 .grid-item .overlay{
background:#0098ff;
}
.news .owl-carousel .item  .overlay  a,
.gallerys   .owl-carousel .item  .overlay  a,
 .sidebar-widget .pics .overlay a,
 .rightside .right-widget .img-thumbnail  .overlay a,
 .masanary .masanary-pic  .img-thumbnail .overlay a,
 .rightside .blog-desc .img-thumbnail   .overlay a,
 .rightside .posts .owl-carousel .img-thumbnail .overlay a,
 .portfolio .element-item .overlay a,
 .doctors  .img-thumbnail .overlay a{
color:#fff;
border:1px solid #fff;
}
 .sidebar-widget .col-xs-4  .overlay a,
 .sidebar-widget .col-xs-3 .overlay a,
 .widget-footer  .overlay  a{
 color:#fff;
 }
.gallerys .overlay .ln{
border: 1px solid #fff;
}
.about-doctors .about-doc-details {
  background-color: #0098ff;
  color: #fff;
}
.about-doctors .about-doc-details .ln2,
.about-doctors .about-doc-details h3 {
  color: #fff;
}
.about-doctors .about-doc-details .img-thumbnail {
    border: 2px solid #0098ff;
  }
.appoinment .form-control {
background-color:transparent;
}
.footer .widget-footer hr{
border:1px solid #ccc;
}
.widget-footer span{
	color:#fff;
	font-size:20px
}
.sidebar-widget .nav a{
color: #666;
}
.sidebar-widget .nav .divider {
    border: 1px solid #ddd;
}	
.sidebar-widget .nav .badge, .recent .tab-content .badge{
    background-color: transparent;
    color: #666;
}
.space .pagination a{
	background-color: transparent ;
    color: #000;
}
.rightside .posts .owl-theme .owl-controls .owl-buttons div {
    background-color: #0098ff;
	}
.blogs .rightside .author .col-xs-2{
  border: 5px solid #0098ff;
  }
.comment .col-xs-2 img {
    border: 5px solid #0098ff;
}
.about-doctors .about-doc-details .btn {
  background-color: #fff;
  color: #0098ff;
}
  .blogs .rightside .line{
border:2px solid #0098ff;
}
.who .about-pic .img-thumbnail{
background-color:transparent;
}
.about-appoinment .mobile .form-control{
background-color:transparent;
}
.avatar {
  border-radius: 50%;
  border: 2px solid #0098ff;
}
.comment a{
color: #0098ff;
}
.feedback  form .btn{
background-color:#0098ff;
color:#fff;
}
.portfolio .button{
background-color:transparent;
}
.portfolio .element-item .overlay .ln{
 border: 1px solid #fff;
}
.contact .pic .img-thumbnail{
background-color: transparent;
}
#name-label:before ,
#email-label:before,
#phone-label:before,
#message-label:before,
#search-label:before {
    color: #666;
}
#date_iso_format-label:before {
   color: #fff;
}
 .emergency .ln{
 border:1px solid #fff;
 }
.emergency .icon{
 background-color:#0098ff;
}
.who .about{
color:#fff;
}
.who .about p{
color:#fff;
}
.doctors .button{
border:1px solid #0098ff;
background-color:transparent;
}
.doctors   .img-thumbnail  .overlay .btn{
background-color:#fff;
color:#0098ff;
}
.doctors  .img-thumbnail  .overlay a{
color:#fff;
}
.medical .icons .icon{
	border: 10px solid #fff;
    color: #fff;
}
 .department .nav-tabs  li a .img-thumbnail{
background-color:transparent;
color:#fff;
}
.department .nav-tabs > li > a{
color:#fff;
}
.department .nav-tabs > li > a:focus, .department .nav-tabs > li > a:hover,
.department .nav-tabs > li.active > a, .department .nav-tabs > li.active > a:focus, .department .nav-tabs > li.active > a:hover{
background-color:transparent;
}
.department .nav-tabs > li > a > .img-thumbnail > img:focus, .department .nav-tabs > li > a > .img-thumbnail > img:hover,
.department .nav-tabs >li.active > a > .img-thumbnail > img, .department .nav-tabs > li.active > a > .img-thumbnail > img:focus, 
.department .nav-tabs > li.active > a > .img-thumbnail > img:hover{
border:1px solid #fff;
color:#fff;
background-color:#000;
}
.department .nav-tabs .active::after{
  border-color: #fff transparent;
 }
 .department .tab-content .col-md-6 .line {
    border: 2px solid #0098ff;
}
.department .tab-content .col-md-4 .icon {
    background-color: transparent;
    color: #0098ff;
}
.department  .tab-content .btn {
    background-color: #0098ff;
    color: #fff;
}
.btn,
.hc_tags a{
/* background-color:transparent; */
border:1px solid #0098ff;
border-radius:0px;
}
.hc_tags a:hover{
background-color:#0098ff;
color:#fff !important;
}
.top{
color:#fff;
background-color:#000;
}
.text{
background-color:#333;
color:#fff;
}
.color{
color:#0098ff;
background-color:#fff;
}
.slider .carousel-caption p{
color:#fff;
}
.services .heart,
.services .ln2,
.services .ln3{
color:#0098ff;;
}
.service .icon{
color: #0098ff;
}
.white{
color:#fff;
}
.pics  .img-thumbnail{
 border: 5px solid #0098ff;
}
.news .date a:hover{
  color:#0098ff;
  }
  .news .category a:hover{
  color:#0098ff;
  }
  .news button {
background-color:#0098ff;
color:#fff;
  }
  .border{
  border:1px solid #ccc;
  }
 
  .news .owl-carousel .item  .overlay  a{
  color:#fff;
  border:1px solid #fff;
  }
   .news .owl-carousel .item  .overlay  a:hover{
  color:#0098ff;
  background-color:#eee;
    border:2px solid #0098ff;
  }
  .gallerys   .owl-carousel .item  .overlay  a{
    color:#fff;
  border:1px solid #fff;
  }
   .gallerys   .owl-carousel .item  .overlay  a:hover{
  color:#0098ff;
  background-color:#eee;
    border:2px solid #0098ff;
  }
  .clients .owl-theme .owl-controls .owl-page.active span,
  .clients .owl-theme .owl-controls.clickable .owl-page:hover span{
  background-color: #0098ff;
  }
  .clients .owl-theme .owl-controls .owl-page span{
  background:#000;
  opacity:0.9;
  }
  .appoinment{
  background-color:#0098ff;
  }
  .footer{
background-color:#333;
}
.footer .widget-footer h3{
color:#fff;
}
.footer .widget-footer h4 a,
.footer .widget-footer h5 a{
color:#999c9e;
}
.footer .widget-footer h4 a:hover ,
.footer .widget-footer h5 a:hover{
color:#fff;
}
.footer .widget-footer p{
color:#999c9e;
}
.footer .widget-footer a{
color:#fff;
}
.footer .widget-footer a:hover{
color:#0098ff;
}
 .footer-bottom{
background-color:#000;
color:#fff;
}
.tagcloud a:hover {
  border: 1px solid #0098ff;
  background-color:#0098ff !important;
}
.footer-bottom a{
color:#fff;
}
#wp-calendar caption {
  background-color: #0098ff;
}
.footer-bottom a:hover{
color:#0098ff;
}
.sidebar-widget .tagcloud a {
  border: 1px solid #0098ff;
  color: #000 !important;
}
.sidebar-widget .tagcloud a:hover{
  border: 1px solid #0098ff;
  color: #fff !important;
}
.sidebar-widget .line{
border:2px solid #0098ff;
}
.sidebar-widget .nav a:focus,
	.sidebar-widget .nav a:hover{
	background-color:transparent;
	color:#0098ff;
	border:0px;
	}
	.sidebar-widget .img-thumbnail .overlay a:hover{
	background-color:#eee;
	color:#0098ff;
	border:2px solid #0098ff;
	}
	.sidebar .recent .nav li a{
	background-color:#0098ff;
	color:#fff;
	border-bottom:1px solid #fff;
	}
	.sidebar .recent .nav-tabs > li.active > a, .sidebar .recent .nav-tabs > li.active > a:focus,.sidebar .recent  .nav-tabs > li.active > a:hover {
	background-color:#fff;
	color:#0098ff;

	}
.rightside a:hover{
color:#0098ff;;
}
.rightside .btn:hover{
color:#fff;
}
.rightside  .blog-desc .img-thumbnail .overlay a:hover{
background-color:#eee;
color:#0098ff;
  border:2px solid #0098ff;
}
.bg{
background-color:#0098ff;
color:#fff;
}
.bg:hover{
background-color:#0098ff;
color:#fff !important;
}
.rightside .right-widget .img-thumbnail  .overlay a:hover{
background-color:#eee;
color:#0098ff;
  border:2px solid #0098ff;
}
.space .pagination a:hover{
color:#fff;
background-color:#0098ff;
}
.masanary a:hover{
color:#0098ff;
}
.posts{
margin:20px 0px;
}
.blogs .posts .owl-theme .owl-controls .owl-buttons div{
font-size:24px;
border-radius:0px;
background-color:#0098ff;
opacity:0.8;
}
.blogs .posts .owl-pagination{
display:none;
}
.services .line{
color:#0098ff;
}
.service-icon a{
color:#0098ff;
}
.services .service  a{
color:#0098ff;
}
.services .service a .icon{
border:2px solid #0098ff;
padding:1px 8px !important;
}
.services .service a:hover .icon{
background-color:#0098ff;
color:#fff;
}
.service4 .col-xs-3 .icon{
color:#0098ff;
}
.services .service4  a{
color:#0098ff;
}
.services .service4 a .icon{
border:2px solid #0098ff;
padding:1px 8px !important;
}
.services .service4 a:hover .icon{
background-color:#0098ff;
color:#fff;
}
.portfolio .button{
border:1px solid #0098ff;
color:#000;
}
.portfolio .button:hover,
.portfolio .button-group .button.is-checked{
background-color:#0098ff;
color:#fff;
}
.portfolio .element-item .overlay a:hover{
background-color:#eee;
color:#0098ff;
border:2px solid #0098ff;
}
.contact .line{
border:2px solid #0098ff;
}
.appoinment .form-control{
color:#fff;
}
.appoinment .form-control::-moz-placeholder{
color:#fff !important;
}
.appoinment .form-control::-webkit-input-placeholder{
color:#fff !important;
}
.appoinment .btn{
background-color:#eee;
color:#000;
}
.doctors .button:hover,
.doctors .button-group .button.is-checked{
background-color:#0098ff;
color:#fff;
}
 .medical .icons .icon:hover{
border:10px solid rgba(0,0, 0 , 0.5);
}
.white1{
background-color:#fff;
color:#000;
}
.orange{
background-color:#FFB547;
color:#fff;
}
.purpul{
background-color:#AD5CFF;
color:#fff;
}
.blue{
background-color:#0098ff;
color:#fff;
}
.red{
background-color:#FF3030;
color:#fff;
}
.pink{
background-color:#E678A3;
color:#fff;
}
.green{
background-color:#7EDF7E;
color:#fff;
}
.aqua{
background-color:#8DE2FF;
color:#fff;
}
.green1{
background-color:#19A319;
color:#fff;
}
.yellow{
background-color:#FFFF75;
}
.black{
background-color:#000;
color:#fff;
}
.brown{
background-color:#753D02;
color:#fff;;
}
.grey{
color:#bbb;
}
.doctors  .img-thumbnail .overlay a:hover{
background-color:#fff;
color:#0098ff;
}
.doctors  .img-thumbnail .overlay .btn:hover{
background-color:#0098ff;
color:#fff !important;
border:1px solid #fff !important;
}
.contact .btn{
background-color:#0098ff;
color:#fff;
}
.about-desc .btn:hover{
color:#fff;
}
.abt-appoinment .feed{
background-color:#000;
color:#fff;
}
.about_doctors .docs{
 border: 2px solid #0098ff;
 }
  .about_doctors  .docs .btn{
   background-color:#0098ff;
   color:#fff;
   }
    .about_doctors  .docs .name{
	background-color:transparent !important;
	border:2px solid #0098ff;
	color:#0098ff;
   }
   .about_doctors  .docs .icon:hover{
	background-color:transparent;
	color:#fff;
	border:1px solid #fff;
	}
	.about_doctors  .docs:hover .btn{
	background-color:#fff !important;
	color:#0098ff;
	}
.about_doctors  .docs:hover .caption, 
.about_doctors  .docs:hover p,
.about_doctors  .docs:hover a,
.about_doctors .docs:hover .name{
	background-color:#0098ff;
	color:#fff !important;
}
.about-department .depart{
  border-bottom:1px solid #ccc;
 }	
.about-department .btn:after {
	color:#0098ff;
 }
  /* Icon when the collapsible content is hidden */
  .about-department .btn.collapsed:after {
	color:#000;
  }
.about-department .btn-lg{
   color:#333;
  border:1px solid #ccc;
  border-bottom:0px solid #ccc;
  background-color:transparent;
  }
 .accordion-details .collapsing{
	border:1px solid #ccc;
}
 .accordion-details .collapse.in{
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  min-height:130px;
  }
  .accordion-details  .collapse.in > .btn-lg  {
  color:#0098ff;
  }
 .accordion .accordion-details .type4 .collapsing{
	border:0px;
}
 .accordion .accordion-details .type4 .collapse.in{
  border-left:0px;
  border-right:0px;
  }
   .about-department .btn .icon{
	background-color: #0098ff;
    color: #fff;
}
.events .up-event .health-event{
border-bottom:2px solid #0098ff;
}
.events .up-event .dates{
background-color:#0098ff;
color:#fff;
}
.events .up-event .btn{
background-color:#0098ff;
color:#fff;
}
.about-appoinment{
color:#fff;
}
.about-appoinment .img-thumbnail{
background-color:transparent;
border:0px;
}
.about-appoinment .mobile .form-control{
background-color:transparent;
}
.about-appoinment .mobile  .form-control::-moz-placeholder{
    color: #fff !important;
    opacity: 1;
}
.about-appoinment .mobile  .form-control::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}
.about-appoinment .mobile  .btn{
background-color:#fff;
color:#0098ff;
}
.about-desc blockquote{
border-left:2px solid #0098ff;
border-right:2px solid #0098ff;
}
.about-desc .btn{
color:#0098ff;
}
.about-doctors .about-doc-details {
  background-color: #92d3ff;
	 color:#fff;
}
.about-doctors .about-doc-details .img-thumbnail,
.about-doctors .button-group .button{
background-color:transparent;
}
.about-doctors .button-group .button.button.is-checked {
    color: #0098ff;
}
.about-doctors .button-group .button.button.is-checked .icon{
background-color:#00d2ff;
}
.about-doctors .button-group .button .icon{
background-color:#0098ff;
color:#fff;
}
.about-doctors .about-doc-details .social a{
color:#fff;
}
.about-doctors .about-doc-details .btn{
background-color: #0e7aff;
    color: #fff;
}
.about-doctors .about-doc-details p{
color:#fff;
}
.about-doctors .about-doc-details .view {
  background-color: #ddd;
  color: #444;
}
.about-doctors .about-doc-details .social a:hover{
border:1px solid #fff;
}
.about-doctors .about-doc-details:hover .btn{
background-color:#eee;
color:#0098ff;
}
.about-doctors .about-doc-details:hover{
background-color:#0098ff;
}
.about-doctors .about-doc-details:hover .view{
color:#0098ff;
}
.about-doctors .about-doc-details:hover .img-thumbnail{
background-color:#0098ff;
border:0px;
}
.client{
 background-color:#0098ff;
 color:#fff;
 }
 .client .owl-carousel  p{
 color:#fff;
 }
  .client .client-say .about-pics .img-thumbnail{
  background-color:transparent;
  }
  .client .owl-theme .owl-controls .owl-page span {
    background: #fff none repeat scroll 0 0;
	}
.client .owl-theme .owl-controls .owl-page.active span,
.client .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: transparent;
 	border:1px solid #fff;
}
.abt-appoinment .appoinment h2{
color:#fff;
}
.abt-appoinment .feed .form-control{
background-color:transparent;
border-bottom:1px solid #ccc;
}
.form-control::-moz-placeholder{
    color: #ccc !important;
    opacity: 1;
}
.form-control::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}
.abt-appoinment .feed .btn{
background-color:#fff;
color:#0098ff;
}

.line{
border:2px solid #0098ff;
}
.blockquote h5{
font-weight:bold;
}
.blockquote blockquote{
border-left:5px solid #ccc !important;
}
.blockquote .type2{
border-right:5px solid #ccc !important;
border-left:0px !important;
text-align:right;
}
.blockquote .type1{
border:2px solid #ccc !important;
}
.shortcodes-icons .icon1 {
  background-color: #c95bd3;
   color: #fff;
}
.shortcodes-icons .icon2 {
  background-color: #64cb66;
   color: #fff;
}
.shortcodes-icons .icon3 {
  background-color: #e8b56d;
   color: #fff;
}
.drop-caps .grey{
background-color:#ccc;
color:#fff;
}
.doctors-pic .icon {
  border: 1px solid #666;
  color:#666;
}
.doctors-pic .icon:hover {
color:#0098ff;
}
.doctors-pic .btn{
color:#0098ff;
background-color:#fff;
}
.progress{
background-color:#BDDBF5;
}
.progress-bar{
background-color:#fff;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-bar-info {
 background-color: #5bc0de;
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-bar-danger {
  background-color: #d9534f;
}
.tabs  .tab-content ul li::before{
 background-color: transparent;
 color: #0098ff;
}
.tabs .nav > li a{
background-color:#0098ff;
color:#fff;
}
.tabs .nav-tabs > li.active > a,.tabs  .nav-tabs > li.active > a:focus, .tabs .nav-tabs > li.active > a:hover {
background-color:transparent;
color:#0098ff;
border:2px solid #0098ff;
}
.accordion .accordion-details .type1  .btn-lg,
.accordion .accordion-details .type2  .btn-lg {
	background-color:#eee;
	border:1px solid #ccc;
	color:#000;
}
.accordion .accordion-details .type3  .btn-lg {
	background-color:#0098ff;
	border:1px solid #fff;
	color:#fff;
}
.accordion .accordion-details .type4  .btn-lg {
	background-color:#0098ff;
	border:1px solid #fff;
	color:#fff;
}
.accordion .accordion-details  .type3 .btn.collapsed::after {
    color: #fff;
}
.accordion .accordion-details  .type4 .btn.collapsed::after {
    color: #fff;
}
.accordion .accordion-details .btn.collapsed::after {
    color: #000;
}
.about-department .btn::after {
    color: #0098ff;
}
.experience .exp{
border-bottom:1px solid #ccc;
}
.experience  .exp1 .time{
border-bottom: 1px solid #fff;
}
.portfolio-details .type2{
border:1px solid #333;
}
.error .btn {
  background-color: #0098ff;
  color: #fff;
 }
 .exp1 blockquote{
border-left:5px solid #0098ff;
background-color:#eee;
}
.portfolio-pic .detail .icon {
  color:#0098ff;
  }
.portfolio-pic  .btn{
color:#0098ff !important;
background-color:#fff;
border:1px solid #0098ff;
}
.portfolio-pic  .btn:hover{
color:#fff !important;
background-color:#0098ff;
border:1px solid #0098ff;
}
.portfolio-details .pager li > a{
color:#0098ff;
border:1px solid #0098ff;
}
.portfolio-details .pager li > a:hover,
.portfolio-details .pager li > a:focus{
background-color:#0098ff;
color:#fff;
}
.portfolio-details .related-post  .overlay a {
  border: 1px solid #fff;
  color: #fff;
}
.portfolio-details .related-post  .overlay a:hover {
  border: 1px solid #0098ff;
  color: #0098ff;
  background-color:#fff;
}
.portfolio-details .related-post  .owl-theme .owl-controls .owl-buttons div {
  background-color: #0098ff;
}
.portfolio-details .related-post  .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #000;
}
.abt-appoinment {
  background-color: #0098ff;
}
.hc_tags a {
  border: 1px solid #0098ff;
}
.sidebar-widget  a:hover { 
color:#0098ff !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  border-color: #0098ff;
}
.owl-theme .owl-controls .owl-buttons div{
  background-color: #0098ff !important;
  }
 .rightside .posts .owl-carousel .img-thumbnail .overlay a:hover{
  color:#0098ff !important;
  background-color:#fff;
  }
 .pic .pics .overlay a:hover{
  background-color:#fff !important;
}
